In [274]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import  requests
from bs4 import BeautifulSoup

# Question - 1

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [18]:
driver1 = webdriver.Chrome()

In [19]:
driver1.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [54]:
table_element = driver1.find_elements(By.XPATH ,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]")
table_element

In [69]:
titles = []

In [75]:
rows = table_element[0].find_elements(By.TAG_NAME ,'tr')
for i in rows :
    title = i.text
    titles.append(title)

In [76]:
titles

['Video name Uploader Views\n(billions) Date',
 ' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024',
 'Video name Uploader Views\n(billions) Date',
 ' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024',
 'Video name Uploader Views\n(billions) Date',
 ' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024',
 'Video name Uploader Views\n(billions) Date',
 ' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024']

In [77]:
del titles[0]

#  1- Output

In [78]:
titles

[' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024',
 'Video name Uploader Views\n(billions) Date',
 ' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024',
 'Video name Uploader Views\n(billions) Date',
 ' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024',
 'Video name Uploader Views\n(billions) Date',
 ' ',
 '"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 14.09 June 17, 2016 [A]',
 '"Despacito"[9] Luis Fonsi 8.38 January 12, 2017 [B]',
 '"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.87 October 8, 2016',
 '"Bath Song"[18] Cocomelon - Nursery Rhymes 6.62 May 2, 2018',
 '"Shape of You"[19] Ed Sheeran 6.20 January 30, 2017 [C]',
 '"See You Again"[22] Wiz Khalifa 6.17 April 6, 2015 [D]',
 '"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.88 May 24, 2018',
 '"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.70 March 6, 2014',
 '"Uptown Funk"[29] Mark Ronson 5.15 November 19, 2014',
 '"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.07 February 27, 2018',
 '"Gangnam Style"[31] Psy 5.05 July 15, 2012 [E]',
 '"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.58 January 31, 2012',
 '"Dame Tu Cosita"[37] Ultra Records 4.55 April 5, 2018',
 '"Axel F"[38] Crazy Frog 4.34 June 16, 2009',
 '"Sugar"[39] Maroon 5 4.00 January 14, 2015',
 '"Counting Stars"[40] OneRepublic 3.97 May 31, 2013',
 '"Baa Baa Black Sheep"[41] Cocomelon - Nursery Rhymes 3.96 June 25, 2018',
 '"Roar"[42] Katy Perry 3.96 September 5, 2013',
 '"Lakdi Ki Kathi"[43] Jingle Toons 3.91 June 14, 2018',
 '"Waka Waka (This Time for Africa)"[44] Shakira 3.85 June 4, 2010',
 '"Sorry"[45] Justin Bieber 3.77 October 22, 2015',
 '"Thinking Out Loud"[46] Ed Sheeran 3.73 October 7, 2014',
 '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.73 January 26, 2018',
 '"Shree Hanuman Chalisa"[48] T-Series Bhakti Sagar 3.69 May 10, 2011',
 '"Dark Horse"[49] Katy Perry 3.67 February 20, 2014',
 '"Perfect"[50] Ed Sheeran 3.67 November 9, 2017',
 '"Let Her Go"[51] Passenger 3.61 July 25, 2012',
 '"Faded"[52] Alan Walker 3.59 December 3, 2015',
 '"Girls Like You"[53] Maroon 5 3.56 May 31, 2018',
 '"Lean On"[54] Major Lazer Official 3.55 March 22, 2015',
 'As of February 13, 2024']

# Questio - 2

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [93]:
driver2 = webdriver.Chrome()

In [94]:
driver2.get('https://www.bcci.tv/')

In [120]:
Fixture = driver2.find_element(By.XPATH ,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
Fixture.click()

In [121]:
Series = []
Place = []
Date = []
Time = []

In [124]:
series = driver2.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[1]/span[1]')
for i in series :
    Series.append(i.text)

In [125]:
Series

['4th Test',
 '5th Test',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 '5th T20I']

In [126]:
place = driver2.find_elements(By.XPATH,'//*[@id="match-card"]/div[2]/div[1]')
for i in place :
    Place.append(i.text)

In [127]:
Place

['JSCA International Stadium Complex, Ranchi',
 'Himachal Pradesh Cricket Association Stadium, Dharamsala',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare']

In [128]:
date = driver2.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[2]/div[1]')
for i in date :
    Date.append(i.text)

In [129]:
Date

['22 FEBRUARY, 2024',
 '6 MARCH, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [130]:
time = driver2.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[2]/div[2]')
for i in time :
    Time.append(i.text)

In [131]:
Time

['8:00 PM PST',
 '8:00 PM PST',
 '7:30 AM PST',
 '7:30 AM PST',
 '7:30 AM PST',
 '7:30 AM PST',
 '7:30 AM PST']

In [132]:
import pandas as pd

# 2 - Output

In [133]:
df = pd.DataFrame({'Series': Series , 'Place': Place , 'Date': Date , 'Time': Time})
df

,Series,Place,Date,Time
0,4th Test,"JSCA International Stadium Complex, Ranchi","22 FEBRUARY, 2024",8:00 PM PST
1,5th Test,"Himachal Pradesh Cricket Association Stadium, ...","6 MARCH, 2024",8:00 PM PST
2,1st T20I,"Harare Sports Club, Harare","6 JULY, 2024",7:30 AM PST
3,2nd T20I,"Harare Sports Club, Harare","7 JULY, 2024",7:30 AM PST
4,3rd T20I,"Harare Sports Club, Harare","10 JULY, 2024",7:30 AM PST
5,4th T20I,"Harare Sports Club, Harare","13 JULY, 2024",7:30 AM PST
6,5th T20I,"Harare Sports Club, Harare","14 JULY, 2024",7:30 AM PST

# Question -4

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [178]:
driver4 = webdriver.Chrome()

In [179]:
driver4.get('https://github.com/')

In [181]:
button = driver4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span')
button.click()

In [182]:
search = driver4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/button/span')
search.click()

In [183]:
write = driver4.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[1]/div/div[2]/input')
write.send_keys('Trending')

In [184]:
search1 = driver4.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[2]/ul/li/ul/li/span/span[3]')
search1.click()

In [185]:
title = driver4.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/react-app/div/div/div[1]/div/div/div[2]/div[2]/div/div[1]/div[4]/div/div')

In [186]:
title

In [187]:
detailing = []

In [188]:
a = title[0].find_elements(By.TAG_NAME,'a')
for i in a :
    detailing.append(i.get_attribute('href'))

In [190]:
print(len(detailing))

35

In [191]:
detailing

['https://github.com/dereknguyen269/programing-best-practices-in-2024',
 'https://github.com/topics/best-practices',
 'https://github.com/topics/code-style',
 'https://github.com/topics/trend',
 'https://github.com/topics/hacktoberfest',
 'https://github.com/topics/css-best-practices',
 'https://github.com/dereknguyen269/programing-best-practices-in-2024/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/Yuvraj-market/yuvraj-market-Group',
 'https://github.com/Yuvraj-market/yuvraj-market-Group/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/stejo009/treading.manager.git.io',
 'https://github.com/stejo009/treading.manager.git.io/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/Hafid24/Trednding-repos',
 'https://github.com/Hafid24/Trednding-repos/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/menma977/MyVintechStake',
 'https://github.com/menma977/MyVintechStake/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/Ayman323/bi',
 'https://github.com/Ayman323/bi/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/ILBruz/site-web-avec-HTML-CSS-et-le-Framework-Bootstrap',
 'https://github.com/ILBruz/site-web-avec-HTML-CSS-et-le-Framework-Bootstrap/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/menma977/BUGNODE-Android',
 'https://github.com/menma977/BUGNODE-Android/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/shaheda77/pubg',
 'https://github.com/shaheda77/pubg/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories',
 'https://github.com/Faizannnn666/treding',
 'https://github.com/Faizannnn666/treding/stargazers',
 'https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3DTreding%26type%3Drepositories']

In [193]:
selected_elements = [detailing[i] for i in [0, 8, 11, 14, 17, 20, 23, 26, 29, 32]]

# Print the result without showing the original list
print("Selected elements:")
for element in selected_elements:
    print(element)

Selected elements:
https://github.com/dereknguyen269/programing-best-practices-in-2024
https://github.com/Yuvraj-market/yuvraj-market-Group
https://github.com/stejo009/treading.manager.git.io
https://github.com/Hafid24/Trednding-repos
https://github.com/menma977/MyVintechStake
https://github.com/Ayman323/bi
https://github.com/ILBruz/site-web-avec-HTML-CSS-et-le-Framework-Bootstrap
https://github.com/menma977/BUGNODE-Android
https://github.com/shaheda77/pubg
https://github.com/Faizannnn666/treding

In [232]:
Repository_Titles = []
Repository_Descriptions = []
Contributors_Counts = []
Language_used = []

In [233]:
for url in selected_elements :
    driver4.get(url)
    
    try :
        titles = driver4.find_elements(By.XPATH , '//*[@id="repository-container-header"]/div[1]/div[1]')
        for i in titles :
            Repository_Titles.append(i.text)
    except NoSuchElementException :
        Repository_Titles.append('-')
        
    try :
        descriptions = driver4.find_elements(By.XPATH , '//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[1]/div/div/p')
        for i in descriptions :
            Repository_Descriptions .append(i.text)
    except NoSuchElementException :
        Repository_Descriptions.append('-')
        
    try :
        count = driver4.find_elements(By.XPATH , '//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[3]/div/h2/a/span')
        for i in count :
            Contributors_Counts.append(i.text)
    except NoSuchElementException :
        Contributors_Counts.append('-')
        
    try :
        used = driver4.find_elements(By.XPATH , '//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[6]/div/ul/li')
        for i in used :
            Language_used.append(i.text)
    except NoSuchElementException :
        Language_used.append('-')

In [241]:
Language_used = ['_' , '_' , '_' ,'Java script','Kotlin','HTML', 'HTML', 'Kotlin', '_' , '_']

In [243]:
Contribution_Counts = [11 , '_' ,'_', '_',2 , '_', '_', 2, '_', '_']

# 4 - Output

In [245]:
df = pd.DataFrame({'Repository title': Repository_Titles , 'Repository description':Repository_Descriptions , 'Contribution counts':Contribution_Counts , 'Language used':Language_used })
df

,Repository title,Repository description,Contribution counts,Language used
0,dereknguyen269\n/\nprograming-best-practices-i...,A curated list of awesome Programming Best Pra...,11,_
1,Yuvraj-market\n/\nyuvraj-market-Group\nPublic\...,treding Platform,_,_
2,stejo009\n/\ntreading.manager.git.io\nPublic,treding manager template,_,_
3,Hafid24\n/\nTrednding-repos\nPublic,Treding repos,_,Java script
4,menma977\n/\nMyVintechStake\nPublic,Treding,2,Kotlin
5,Ayman323\n/\nbi\nPublic,Treding,_,HTML
6,ILBruz\n/\nsite-web-avec-HTML-CSS-et-le-Framew...,treding library,_,HTML
7,menma977\n/\nBUGNODE-Android\nPublic,Bug node treding,2,Kotlin
8,shaheda77\n/\npubg\nPublic,Treding in future,_,_
9,Faizannnn666\n/\ntreding\nPublic,Treding. Easyly,_,_

# Question - 5

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [250]:
driver5 = webdriver.Chrome()

In [251]:
driver5.get('https:/www.billboard.com/')

In [252]:
three_lines = driver5.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button') 
three_lines.click()

In [253]:
Charts = driver5.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
Charts.click()

In [254]:
Hot_hundrade = driver5.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]')
Hot_hundrade.click()

In [255]:
BillBoard = []
row = []

In [256]:
billboard = driver5.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]')
for i in billboard :
    BillBoard.append(i.text)
    
    try :
        Rows = driver5.find_elements(By.CLASS_NAME,"o-chart-results-list-row-container")
        for i in Rows :
            row.append(i.text)
    except NoSuchElementException :
        row.append('-')

In [257]:
row

['1\nLovin On Me\nJack Harlow\n1\n1\n14',
 "2\nNEW\nTexas Hold 'Em\nBeyonce\n-\n2\n1",
 '3\nNEW\nCarnival\n¥$: Kanye West & Ty Dolla $ign\n-\n3\n1',
 '4\nBeautiful Things\nBenson Boone\n3\n3\n4',
 '5\nLose Control\nTeddy Swims\n2\n2\n27',
 '6\nCruel Summer\nTaylor Swift\n4\n1\n41',
 '7\nSnooze\nSZA\n5\n2\n61',
 '8\nI Remember Everything\nZach Bryan Featuring Kacey Musgraves\n6\n1\n25',
 '9\nGreedy\nTate McRae\n7\n3\n22',
 '10\nStick Season\nNoah Kahan\n11\n10\n20',
 '11\nFast Car\nLuke Combs\n8\n2\n47',
 '12\nAgora Hills\nDoja Cat\n9\n7\n21',
 '13\nWater\nTyla\n12\n7\n20',
 '14\nLast Night\nMorgan Wallen\n15\n1\n55',
 '15\nRedrum\n21 Savage\n14\n5\n5',
 "16\nThinkin' Bout Me\nMorgan Wallen\n16\n7\n50",
 '17\nFlowers\nMiley Cyrus\n10\n1\n52',
 "18\nIs It Over Now? (Taylor's Version) [From The Vault]\nTaylor Swift\n18\n1\n16",
 '19\nPaint The Town Red\nDoja Cat\n17\n1\n28',
 '20\nRE- ENTRY\nYeah!\nUsher Featuring Lil Jon & Ludacris\n-\n1\n46',
 '21\nNever Lose Me\nFlo Milli\n19\n18\n9',
 '22\nLa Diabla\nXavi\n25\n20\n9',
 '23\nNEW\nFuk Sumn\n¥$: Kanye West & Ty Dolla $ign\n-\n23\n1',
 '24\nPretty Little Poison\nWarren Zeiders\n24\n24\n23',
 '25\nHoudini\nDua Lipa\n22\n11\n14',
 '26\nNEW\nBack To Me\n¥$: Kanye West & Ty Dolla $ign\n-\n26\n1',
 '27\nWhat Was I Made For?\nBillie Eilish\n20\n14\n30',
 '28\nNEW\nForever\nNoah Kahan\n-\n28\n1',
 '29\nWhere The Wild Things Are\nLuke Combs\n26\n26\n13',
 '30\nNEW\nTalking\n¥$: Kanye West & Ty Dolla $ign Featuring North West\n-\n30\n1',
 '31\nYes, And?\nAriana Grande\n21\n1\n5',
 '32\nMade For Me\nMuni Long\n28\n28\n5',
 '33\nNEW\nBurn\n¥$: Kanye West & Ty Dolla $ign\n-\n33\n1',
 '34\nNEW\nVultures\n¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J\n-\n34\n1',
 '35\nThe Painter\nCody Johnson\n30\n30\n19',
 '36\nGood Good\nUsher, Summer Walker & 21 Savage\n45\n25\n27',
 '37\nSelfish\nJustin Timberlake\n23\n19\n3',
 '38\nNEW\n16 Carriages\nBeyonce\n-\n38\n1',
 '39\nNEW\nStars\n¥$: Kanye West & Ty Dolla $ign\n-\n39\n1',
 '40\nEverybody\nNicki Minaj Featuring Lil Uzi Vert\n27\n24\n10',
 '41\nRich Baby Daddy\nDrake Featuring Sexyy Red & SZA\n32\n11\n19',
 '42\nFeather\nSabrina Carpenter\n36\n36\n11',
 '43\nVampire\nOlivia Rodrigo\n29\n1\n30',
 '44\nOn My Mama\nVictoria Monet\n33\n33\n22',
 '45\nWild Ones\nJessie Murph & Jelly Roll\n35\n35\n19',
 '46\nDance The Night\nDua Lipa\n37\n6\n33',
 '47\nSave Me\nJelly Roll With Lainey Wilson\n40\n19\n32',
 '48\nHiss\nMegan Thee Stallion\n13\n1\n3',
 '49\nExes\nTate McRae\n34\n34\n13',
 '50\nNeed A Favor\nJelly Roll\n39\n13\n44',
 '51\nTruck Bed\nHARDY\n46\n36\n35',
 '52\nNEW\nDo It\n¥$: Kanye West & Ty Dolla $ign\n-\n52\n1',
 '53\nNEW\nPaid\n¥$: Kanye West & Ty Dolla $ign\n-\n53\n1',
 '54\nSurround Sound\nJID Featuring 21 Savage & Baby Tate\n48\n40\n14',
 '55\nNEW\nKeys To My Life\n¥$: Kanye West & Ty Dolla $ign\n-\n55\n1',
 '56\nWorld On Fire\nNate Smith\n44\n21\n16',
 '57\nFirst Person Shooter\nDrake Featuring J. Cole\n47\n1\n19',
 '58\nLa Victima\nXavi\n56\n46\n9',
 '59\nGet In With Me\nBossMan Dlow\n68\n59\n2',
 '60\nBurn It Down\nParker McCollum\n55\n52\n17',
 '61\nStanding Next To You\nJung Kook\n81\n5\n15',
 '62\nThink U The Shit (Fart)\nIce Spice\n52\n37\n3',
 '63\nPraise Jah In The Moonlight\nYG Marley\n60\n60\n3',
 '64\nNEW\nPaperwork\n¥$: Kanye West & Ty Dolla $ign\n-\n64\n1',
 '65\nNEW\nBeg Forgiveness\n¥$: Kanye West & Ty Dolla $ign\n-\n65\n1',
 '66\nMan Made A Bar\nMorgan Wallen Featuring Eric Church\n63\n15\n21',
 '67\nNEW\nHoodrat\n¥$: Kanye West & Ty Dolla $ign\n-\n67\n1',
 '68\nOne Call\nRich Amiri\n64\n64\n3',
 '69\nIgual Que Un Angel\nKali Uchis & Peso Pluma\n53\n22\n5',
 '70\nSpin You Around (1/24)\nMorgan Wallen\n51\n24\n3',
 '71\nFTCU\nNicki Minaj\n54\n15\n10',
 '72\nOne Of The Girls\nThe Weeknd, Jennie & Lily Rose Depp\n57\n57\n8',
 '73\nMurder On The Dancefloor\nSophie Ellis-Bextor\n59\n51\n7',
 '74\nYou Broke My Heart\nDrake\n65\n11\n13',
 '75\nNorthern Attitude\nNoah Kahan With Hozier\n97\n37\n11',
 '76\nFE!N\nTravis Scott Featuring Playboi Carti\n69\n5\n16',
 '77\n23\nChayce Beckham\n74\n64\n7',
 '78\nBandit\nDon Toliver\n38\n38\n2',
 '79\nNEW\nProblematic\n¥$: Kanye West & Ty Dolla $ign\n-\n79\n1',
 '80\nNee-nah\n21 Savage, Travis Scott & Metro Boomin\n58\n10\n5',
 '81\nAct II: Date @ 8\n4Batz\n61\n59\n6',
 '82\nI Can Feel It\nKane Brown\n73\n59\n7',
 "83\nMamaw's House\nThomas Rhett Featuring Morgan Wallen\n78\n55\n7",
 '84\nSoak City\n310babii\n76\n61\n9',
 '85\nHarley Quinn\nFuerza Regida & Marshmello\n67\n40\n15',
 "86\nNEW\nYou're Gonna Go Far\nNoah Kahan\n-\n86\n1",
 '87\nBellakeo\nPeso Pluma & Anitta\n70\n53\n9',
 '88\nIDGAF\nDrake Featuring Yeat\n72\n2\n19',
 '89\nNEW\nYeah Glo!\nGloRilla\n-\n89\n1',
 "90\nDifferent 'Round Here\nRiley Green Featuring Luke Combs\n66\n60\n11",
 '91\nRE- ENTRY\nShe Calls Me Back\nNoah Kahan With Kacey Musgraves\n-\n76\n2',
 "92\nWe Don't Fight Anymore\nCarly Pearce Featuring Chris Stapleton\n79\n67\n9",
 "93\nNEW\nGood (Don't Die)\n¥$: Kanye West & Ty Dolla $ign\n-\n93\n1",
 '94\nNEW\nKing\n¥$: Kanye West & Ty Dolla $ign\n-\n94\n1',
 '95\nCoal\nDylan Gossett\n86\n86\n6',
 '96\nMmhmm\nBigXthaPlug\n83\n65\n8',
 '97\nMonaco\nBad Bunny\n77\n5\n18',
 '98\nProve It\n21 Savage & Summer Walker\n75\n43\n5',
 '99\nPerro Negro\nBad Bunny & Feid\n82\n20\n15',
 '100\nNEW\nSunday Service\nLatto\n-\n100\n1']

In [258]:
data = ['1\nLovin On Me\nJack Harlow\n1\n1\n14',
 "2\nNEW\nTexas Hold 'Em\nBeyonce\n-\n2\n1",
 '3\nNEW\nCarnival\n¥$: Kanye West & Ty Dolla $ign\n-\n3\n1',
 '4\nBeautiful Things\nBenson Boone\n3\n3\n4',
 '5\nLose Control\nTeddy Swims\n2\n2\n27',
 '6\nCruel Summer\nTaylor Swift\n4\n1\n41',
 '7\nSnooze\nSZA\n5\n2\n61',
 '8\nI Remember Everything\nZach Bryan Featuring Kacey Musgraves\n6\n1\n25',
 '9\nGreedy\nTate McRae\n7\n3\n22',
 '10\nStick Season\nNoah Kahan\n11\n10\n20',
 '11\nFast Car\nLuke Combs\n8\n2\n47',
 '12\nAgora Hills\nDoja Cat\n9\n7\n21',
 '13\nWater\nTyla\n12\n7\n20',
 '14\nLast Night\nMorgan Wallen\n15\n1\n55',
 '15\nRedrum\n21 Savage\n14\n5\n5',
 "16\nThinkin' Bout Me\nMorgan Wallen\n16\n7\n50",
 '17\nFlowers\nMiley Cyrus\n10\n1\n52',
 "18\nIs It Over Now? (Taylor's Version) [From The Vault]\nTaylor Swift\n18\n1\n16",
 '19\nPaint The Town Red\nDoja Cat\n17\n1\n28',
 '20\nRE- ENTRY\nYeah!\nUsher Featuring Lil Jon & Ludacris\n-\n1\n46',
 '21\nNever Lose Me\nFlo Milli\n19\n18\n9',
 '22\nLa Diabla\nXavi\n25\n20\n9',
 '23\nNEW\nFuk Sumn\n¥$: Kanye West & Ty Dolla $ign\n-\n23\n1',
 '24\nPretty Little Poison\nWarren Zeiders\n24\n24\n23',
 '25\nHoudini\nDua Lipa\n22\n11\n14',
 '26\nNEW\nBack To Me\n¥$: Kanye West & Ty Dolla $ign\n-\n26\n1',
 '27\nWhat Was I Made For?\nBillie Eilish\n20\n14\n30',
 '28\nNEW\nForever\nNoah Kahan\n-\n28\n1',
 '29\nWhere The Wild Things Are\nLuke Combs\n26\n26\n13',
 '30\nNEW\nTalking\n¥$: Kanye West & Ty Dolla $ign Featuring North West\n-\n30\n1',
 '31\nYes, And?\nAriana Grande\n21\n1\n5',
 '32\nMade For Me\nMuni Long\n28\n28\n5',
 '33\nNEW\nBurn\n¥$: Kanye West & Ty Dolla $ign\n-\n33\n1',
 '34\nNEW\nVultures\n¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J\n-\n34\n1',
 '35\nThe Painter\nCody Johnson\n30\n30\n19',
 '36\nGood Good\nUsher, Summer Walker & 21 Savage\n45\n25\n27',
 '37\nSelfish\nJustin Timberlake\n23\n19\n3',
 '38\nNEW\n16 Carriages\nBeyonce\n-\n38\n1',
 '39\nNEW\nStars\n¥$: Kanye West & Ty Dolla $ign\n-\n39\n1',
 '40\nEverybody\nNicki Minaj Featuring Lil Uzi Vert\n27\n24\n10',
 '41\nRich Baby Daddy\nDrake Featuring Sexyy Red & SZA\n32\n11\n19',
 '42\nFeather\nSabrina Carpenter\n36\n36\n11',
 '43\nVampire\nOlivia Rodrigo\n29\n1\n30',
 '44\nOn My Mama\nVictoria Monet\n33\n33\n22',
 '45\nWild Ones\nJessie Murph & Jelly Roll\n35\n35\n19',
 '46\nDance The Night\nDua Lipa\n37\n6\n33',
 '47\nSave Me\nJelly Roll With Lainey Wilson\n40\n19\n32',
 '48\nHiss\nMegan Thee Stallion\n13\n1\n3',
 '49\nExes\nTate McRae\n34\n34\n13',
 '50\nNeed A Favor\nJelly Roll\n39\n13\n44',
 '51\nTruck Bed\nHARDY\n46\n36\n35',
 '52\nNEW\nDo It\n¥$: Kanye West & Ty Dolla $ign\n-\n52\n1',
 '53\nNEW\nPaid\n¥$: Kanye West & Ty Dolla $ign\n-\n53\n1',
 '54\nSurround Sound\nJID Featuring 21 Savage & Baby Tate\n48\n40\n14',
 '55\nNEW\nKeys To My Life\n¥$: Kanye West & Ty Dolla $ign\n-\n55\n1',
 '56\nWorld On Fire\nNate Smith\n44\n21\n16',
 '57\nFirst Person Shooter\nDrake Featuring J. Cole\n47\n1\n19',
 '58\nLa Victima\nXavi\n56\n46\n9',
 '59\nGet In With Me\nBossMan Dlow\n68\n59\n2',
 '60\nBurn It Down\nParker McCollum\n55\n52\n17',
 '61\nStanding Next To You\nJung Kook\n81\n5\n15',
 '62\nThink U The Shit (Fart)\nIce Spice\n52\n37\n3',
 '63\nPraise Jah In The Moonlight\nYG Marley\n60\n60\n3',
 '64\nNEW\nPaperwork\n¥$: Kanye West & Ty Dolla $ign\n-\n64\n1',
 '65\nNEW\nBeg Forgiveness\n¥$: Kanye West & Ty Dolla $ign\n-\n65\n1',
 '66\nMan Made A Bar\nMorgan Wallen Featuring Eric Church\n63\n15\n21',
 '67\nNEW\nHoodrat\n¥$: Kanye West & Ty Dolla $ign\n-\n67\n1',
 '68\nOne Call\nRich Amiri\n64\n64\n3',
 '69\nIgual Que Un Angel\nKali Uchis & Peso Pluma\n53\n22\n5',
 '70\nSpin You Around (1/24)\nMorgan Wallen\n51\n24\n3',
 '71\nFTCU\nNicki Minaj\n54\n15\n10',
 '72\nOne Of The Girls\nThe Weeknd, Jennie & Lily Rose Depp\n57\n57\n8',
 '73\nMurder On The Dancefloor\nSophie Ellis-Bextor\n59\n51\n7',
 '74\nYou Broke My Heart\nDrake\n65\n11\n13',
 '75\nNorthern Attitude\nNoah Kahan With Hozier\n97\n37\n11',
 '76\nFE!N\nTravis Scott Featuring Playboi Carti\n69\n5\n16',
 '77\n23\nChayce Beckham\n74\n64\n7',
 '78\nBandit\nDon Toliver\n38\n38\n2',
 '79\nNEW\nProblematic\n¥$: Kanye West & Ty Dolla $ign\n-\n79\n1',
 '80\nNee-nah\n21 Savage, Travis Scott & Metro Boomin\n58\n10\n5',
 '81\nAct II: Date @ 8\n4Batz\n61\n59\n6',
 '82\nI Can Feel It\nKane Brown\n73\n59\n7',
 "83\nMamaw's House\nThomas Rhett Featuring Morgan Wallen\n78\n55\n7",
 '84\nSoak City\n310babii\n76\n61\n9',
 '85\nHarley Quinn\nFuerza Regida & Marshmello\n67\n40\n15',
 "86\nNEW\nYou're Gonna Go Far\nNoah Kahan\n-\n86\n1",
 '87\nBellakeo\nPeso Pluma & Anitta\n70\n53\n9',
 '88\nIDGAF\nDrake Featuring Yeat\n72\n2\n19',
 '89\nNEW\nYeah Glo!\nGloRilla\n-\n89\n1',
 "90\nDifferent 'Round Here\nRiley Green Featuring Luke Combs\n66\n60\n11",
 '91\nRE- ENTRY\nShe Calls Me Back\nNoah Kahan With Kacey Musgraves\n-\n76\n2',
 "92\nWe Don't Fight Anymore\nCarly Pearce Featuring Chris Stapleton\n79\n67\n9",
 "93\nNEW\nGood (Don't Die)\n¥$: Kanye West & Ty Dolla $ign\n-\n93\n1",
 '94\nNEW\nKing\n¥$: Kanye West & Ty Dolla $ign\n-\n94\n1',
 '95\nCoal\nDylan Gossett\n86\n86\n6',
 '96\nMmhmm\nBigXthaPlug\n83\n65\n8',
 '97\nMonaco\nBad Bunny\n77\n5\n18',
 '98\nProve It\n21 Savage & Summer Walker\n75\n43\n5',
 '99\nPerro Negro\nBad Bunny & Feid\n82\n20\n15',
 '100\nNEW\nSunday Service\nLatto\n-\n100\n1']
data = [row.replace('NEW', '') for row in data]

In [259]:
data

['1\nLovin On Me\nJack Harlow\n1\n1\n14',
 "2\n\nTexas Hold 'Em\nBeyonce\n-\n2\n1",
 '3\n\nCarnival\n¥$: Kanye West & Ty Dolla $ign\n-\n3\n1',
 '4\nBeautiful Things\nBenson Boone\n3\n3\n4',
 '5\nLose Control\nTeddy Swims\n2\n2\n27',
 '6\nCruel Summer\nTaylor Swift\n4\n1\n41',
 '7\nSnooze\nSZA\n5\n2\n61',
 '8\nI Remember Everything\nZach Bryan Featuring Kacey Musgraves\n6\n1\n25',
 '9\nGreedy\nTate McRae\n7\n3\n22',
 '10\nStick Season\nNoah Kahan\n11\n10\n20',
 '11\nFast Car\nLuke Combs\n8\n2\n47',
 '12\nAgora Hills\nDoja Cat\n9\n7\n21',
 '13\nWater\nTyla\n12\n7\n20',
 '14\nLast Night\nMorgan Wallen\n15\n1\n55',
 '15\nRedrum\n21 Savage\n14\n5\n5',
 "16\nThinkin' Bout Me\nMorgan Wallen\n16\n7\n50",
 '17\nFlowers\nMiley Cyrus\n10\n1\n52',
 "18\nIs It Over Now? (Taylor's Version) [From The Vault]\nTaylor Swift\n18\n1\n16",
 '19\nPaint The Town Red\nDoja Cat\n17\n1\n28',
 '20\nRE- ENTRY\nYeah!\nUsher Featuring Lil Jon & Ludacris\n-\n1\n46',
 '21\nNever Lose Me\nFlo Milli\n19\n18\n9',
 '22\nLa Diabla\nXavi\n25\n20\n9',
 '23\n\nFuk Sumn\n¥$: Kanye West & Ty Dolla $ign\n-\n23\n1',
 '24\nPretty Little Poison\nWarren Zeiders\n24\n24\n23',
 '25\nHoudini\nDua Lipa\n22\n11\n14',
 '26\n\nBack To Me\n¥$: Kanye West & Ty Dolla $ign\n-\n26\n1',
 '27\nWhat Was I Made For?\nBillie Eilish\n20\n14\n30',
 '28\n\nForever\nNoah Kahan\n-\n28\n1',
 '29\nWhere The Wild Things Are\nLuke Combs\n26\n26\n13',
 '30\n\nTalking\n¥$: Kanye West & Ty Dolla $ign Featuring North West\n-\n30\n1',
 '31\nYes, And?\nAriana Grande\n21\n1\n5',
 '32\nMade For Me\nMuni Long\n28\n28\n5',
 '33\n\nBurn\n¥$: Kanye West & Ty Dolla $ign\n-\n33\n1',
 '34\n\nVultures\n¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J\n-\n34\n1',
 '35\nThe Painter\nCody Johnson\n30\n30\n19',
 '36\nGood Good\nUsher, Summer Walker & 21 Savage\n45\n25\n27',
 '37\nSelfish\nJustin Timberlake\n23\n19\n3',
 '38\n\n16 Carriages\nBeyonce\n-\n38\n1',
 '39\n\nStars\n¥$: Kanye West & Ty Dolla $ign\n-\n39\n1',
 '40\nEverybody\nNicki Minaj Featuring Lil Uzi Vert\n27\n24\n10',
 '41\nRich Baby Daddy\nDrake Featuring Sexyy Red & SZA\n32\n11\n19',
 '42\nFeather\nSabrina Carpenter\n36\n36\n11',
 '43\nVampire\nOlivia Rodrigo\n29\n1\n30',
 '44\nOn My Mama\nVictoria Monet\n33\n33\n22',
 '45\nWild Ones\nJessie Murph & Jelly Roll\n35\n35\n19',
 '46\nDance The Night\nDua Lipa\n37\n6\n33',
 '47\nSave Me\nJelly Roll With Lainey Wilson\n40\n19\n32',
 '48\nHiss\nMegan Thee Stallion\n13\n1\n3',
 '49\nExes\nTate McRae\n34\n34\n13',
 '50\nNeed A Favor\nJelly Roll\n39\n13\n44',
 '51\nTruck Bed\nHARDY\n46\n36\n35',
 '52\n\nDo It\n¥$: Kanye West & Ty Dolla $ign\n-\n52\n1',
 '53\n\nPaid\n¥$: Kanye West & Ty Dolla $ign\n-\n53\n1',
 '54\nSurround Sound\nJID Featuring 21 Savage & Baby Tate\n48\n40\n14',
 '55\n\nKeys To My Life\n¥$: Kanye West & Ty Dolla $ign\n-\n55\n1',
 '56\nWorld On Fire\nNate Smith\n44\n21\n16',
 '57\nFirst Person Shooter\nDrake Featuring J. Cole\n47\n1\n19',
 '58\nLa Victima\nXavi\n56\n46\n9',
 '59\nGet In With Me\nBossMan Dlow\n68\n59\n2',
 '60\nBurn It Down\nParker McCollum\n55\n52\n17',
 '61\nStanding Next To You\nJung Kook\n81\n5\n15',
 '62\nThink U The Shit (Fart)\nIce Spice\n52\n37\n3',
 '63\nPraise Jah In The Moonlight\nYG Marley\n60\n60\n3',
 '64\n\nPaperwork\n¥$: Kanye West & Ty Dolla $ign\n-\n64\n1',
 '65\n\nBeg Forgiveness\n¥$: Kanye West & Ty Dolla $ign\n-\n65\n1',
 '66\nMan Made A Bar\nMorgan Wallen Featuring Eric Church\n63\n15\n21',
 '67\n\nHoodrat\n¥$: Kanye West & Ty Dolla $ign\n-\n67\n1',
 '68\nOne Call\nRich Amiri\n64\n64\n3',
 '69\nIgual Que Un Angel\nKali Uchis & Peso Pluma\n53\n22\n5',
 '70\nSpin You Around (1/24)\nMorgan Wallen\n51\n24\n3',
 '71\nFTCU\nNicki Minaj\n54\n15\n10',
 '72\nOne Of The Girls\nThe Weeknd, Jennie & Lily Rose Depp\n57\n57\n8',
 '73\nMurder On The Dancefloor\nSophie Ellis-Bextor\n59\n51\n7',
 '74\nYou Broke My Heart\nDrake\n65\n11\n13',
 '75\nNorthern Attitude\nNoah Kahan With Hozier\n97\n37\n11',
 '76\nFE!N\nTravis Scott Featuring Playboi Carti\n69\n5\n16',
 '77\n23\nChayce Beckham\n74\n64\n7',
 '78\nBandit\nDon Toliver\n38\n38\n2',
 '79\n\nProblematic\n¥$: Kanye West & Ty Dolla $ign\n-\n79\n1',
 '80\nNee-nah\n21 Savage, Travis Scott & Metro Boomin\n58\n10\n5',
 '81\nAct II: Date @ 8\n4Batz\n61\n59\n6',
 '82\nI Can Feel It\nKane Brown\n73\n59\n7',
 "83\nMamaw's House\nThomas Rhett Featuring Morgan Wallen\n78\n55\n7",
 '84\nSoak City\n310babii\n76\n61\n9',
 '85\nHarley Quinn\nFuerza Regida & Marshmello\n67\n40\n15',
 "86\n\nYou're Gonna Go Far\nNoah Kahan\n-\n86\n1",
 '87\nBellakeo\nPeso Pluma & Anitta\n70\n53\n9',
 '88\nIDGAF\nDrake Featuring Yeat\n72\n2\n19',
 '89\n\nYeah Glo!\nGloRilla\n-\n89\n1',
 "90\nDifferent 'Round Here\nRiley Green Featuring Luke Combs\n66\n60\n11",
 '91\nRE- ENTRY\nShe Calls Me Back\nNoah Kahan With Kacey Musgraves\n-\n76\n2',
 "92\nWe Don't Fight Anymore\nCarly Pearce Featuring Chris Stapleton\n79\n67\n9",
 "93\n\nGood (Don't Die)\n¥$: Kanye West & Ty Dolla $ign\n-\n93\n1",
 '94\n\nKing\n¥$: Kanye West & Ty Dolla $ign\n-\n94\n1',
 '95\nCoal\nDylan Gossett\n86\n86\n6',
 '96\nMmhmm\nBigXthaPlug\n83\n65\n8',
 '97\nMonaco\nBad Bunny\n77\n5\n18',
 '98\nProve It\n21 Savage & Summer Walker\n75\n43\n5',
 '99\nPerro Negro\nBad Bunny & Feid\n82\n20\n15',
 '100\n\nSunday Service\nLatto\n-\n100\n1']

In [260]:
import re

In [261]:
data = [re.sub(r'\n\n', '\n', item) for item in data]

In [262]:
data

['1\nLovin On Me\nJack Harlow\n1\n1\n14',
 "2\nTexas Hold 'Em\nBeyonce\n-\n2\n1",
 '3\nCarnival\n¥$: Kanye West & Ty Dolla $ign\n-\n3\n1',
 '4\nBeautiful Things\nBenson Boone\n3\n3\n4',
 '5\nLose Control\nTeddy Swims\n2\n2\n27',
 '6\nCruel Summer\nTaylor Swift\n4\n1\n41',
 '7\nSnooze\nSZA\n5\n2\n61',
 '8\nI Remember Everything\nZach Bryan Featuring Kacey Musgraves\n6\n1\n25',
 '9\nGreedy\nTate McRae\n7\n3\n22',
 '10\nStick Season\nNoah Kahan\n11\n10\n20',
 '11\nFast Car\nLuke Combs\n8\n2\n47',
 '12\nAgora Hills\nDoja Cat\n9\n7\n21',
 '13\nWater\nTyla\n12\n7\n20',
 '14\nLast Night\nMorgan Wallen\n15\n1\n55',
 '15\nRedrum\n21 Savage\n14\n5\n5',
 "16\nThinkin' Bout Me\nMorgan Wallen\n16\n7\n50",
 '17\nFlowers\nMiley Cyrus\n10\n1\n52',
 "18\nIs It Over Now? (Taylor's Version) [From The Vault]\nTaylor Swift\n18\n1\n16",
 '19\nPaint The Town Red\nDoja Cat\n17\n1\n28',
 '20\nRE- ENTRY\nYeah!\nUsher Featuring Lil Jon & Ludacris\n-\n1\n46',
 '21\nNever Lose Me\nFlo Milli\n19\n18\n9',
 '22\nLa Diabla\nXavi\n25\n20\n9',
 '23\nFuk Sumn\n¥$: Kanye West & Ty Dolla $ign\n-\n23\n1',
 '24\nPretty Little Poison\nWarren Zeiders\n24\n24\n23',
 '25\nHoudini\nDua Lipa\n22\n11\n14',
 '26\nBack To Me\n¥$: Kanye West & Ty Dolla $ign\n-\n26\n1',
 '27\nWhat Was I Made For?\nBillie Eilish\n20\n14\n30',
 '28\nForever\nNoah Kahan\n-\n28\n1',
 '29\nWhere The Wild Things Are\nLuke Combs\n26\n26\n13',
 '30\nTalking\n¥$: Kanye West & Ty Dolla $ign Featuring North West\n-\n30\n1',
 '31\nYes, And?\nAriana Grande\n21\n1\n5',
 '32\nMade For Me\nMuni Long\n28\n28\n5',
 '33\nBurn\n¥$: Kanye West & Ty Dolla $ign\n-\n33\n1',
 '34\nVultures\n¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J\n-\n34\n1',
 '35\nThe Painter\nCody Johnson\n30\n30\n19',
 '36\nGood Good\nUsher, Summer Walker & 21 Savage\n45\n25\n27',
 '37\nSelfish\nJustin Timberlake\n23\n19\n3',
 '38\n16 Carriages\nBeyonce\n-\n38\n1',
 '39\nStars\n¥$: Kanye West & Ty Dolla $ign\n-\n39\n1',
 '40\nEverybody\nNicki Minaj Featuring Lil Uzi Vert\n27\n24\n10',
 '41\nRich Baby Daddy\nDrake Featuring Sexyy Red & SZA\n32\n11\n19',
 '42\nFeather\nSabrina Carpenter\n36\n36\n11',
 '43\nVampire\nOlivia Rodrigo\n29\n1\n30',
 '44\nOn My Mama\nVictoria Monet\n33\n33\n22',
 '45\nWild Ones\nJessie Murph & Jelly Roll\n35\n35\n19',
 '46\nDance The Night\nDua Lipa\n37\n6\n33',
 '47\nSave Me\nJelly Roll With Lainey Wilson\n40\n19\n32',
 '48\nHiss\nMegan Thee Stallion\n13\n1\n3',
 '49\nExes\nTate McRae\n34\n34\n13',
 '50\nNeed A Favor\nJelly Roll\n39\n13\n44',
 '51\nTruck Bed\nHARDY\n46\n36\n35',
 '52\nDo It\n¥$: Kanye West & Ty Dolla $ign\n-\n52\n1',
 '53\nPaid\n¥$: Kanye West & Ty Dolla $ign\n-\n53\n1',
 '54\nSurround Sound\nJID Featuring 21 Savage & Baby Tate\n48\n40\n14',
 '55\nKeys To My Life\n¥$: Kanye West & Ty Dolla $ign\n-\n55\n1',
 '56\nWorld On Fire\nNate Smith\n44\n21\n16',
 '57\nFirst Person Shooter\nDrake Featuring J. Cole\n47\n1\n19',
 '58\nLa Victima\nXavi\n56\n46\n9',
 '59\nGet In With Me\nBossMan Dlow\n68\n59\n2',
 '60\nBurn It Down\nParker McCollum\n55\n52\n17',
 '61\nStanding Next To You\nJung Kook\n81\n5\n15',
 '62\nThink U The Shit (Fart)\nIce Spice\n52\n37\n3',
 '63\nPraise Jah In The Moonlight\nYG Marley\n60\n60\n3',
 '64\nPaperwork\n¥$: Kanye West & Ty Dolla $ign\n-\n64\n1',
 '65\nBeg Forgiveness\n¥$: Kanye West & Ty Dolla $ign\n-\n65\n1',
 '66\nMan Made A Bar\nMorgan Wallen Featuring Eric Church\n63\n15\n21',
 '67\nHoodrat\n¥$: Kanye West & Ty Dolla $ign\n-\n67\n1',
 '68\nOne Call\nRich Amiri\n64\n64\n3',
 '69\nIgual Que Un Angel\nKali Uchis & Peso Pluma\n53\n22\n5',
 '70\nSpin You Around (1/24)\nMorgan Wallen\n51\n24\n3',
 '71\nFTCU\nNicki Minaj\n54\n15\n10',
 '72\nOne Of The Girls\nThe Weeknd, Jennie & Lily Rose Depp\n57\n57\n8',
 '73\nMurder On The Dancefloor\nSophie Ellis-Bextor\n59\n51\n7',
 '74\nYou Broke My Heart\nDrake\n65\n11\n13',
 '75\nNorthern Attitude\nNoah Kahan With Hozier\n97\n37\n11',
 '76\nFE!N\nTravis Scott Featuring Playboi Carti\n69\n5\n16',
 '77\n23\nChayce Beckham\n74\n64\n7',
 '78\nBandit\nDon Toliver\n38\n38\n2',
 '79\nProblematic\n¥$: Kanye West & Ty Dolla $ign\n-\n79\n1',
 '80\nNee-nah\n21 Savage, Travis Scott & Metro Boomin\n58\n10\n5',
 '81\nAct II: Date @ 8\n4Batz\n61\n59\n6',
 '82\nI Can Feel It\nKane Brown\n73\n59\n7',
 "83\nMamaw's House\nThomas Rhett Featuring Morgan Wallen\n78\n55\n7",
 '84\nSoak City\n310babii\n76\n61\n9',
 '85\nHarley Quinn\nFuerza Regida & Marshmello\n67\n40\n15',
 "86\nYou're Gonna Go Far\nNoah Kahan\n-\n86\n1",
 '87\nBellakeo\nPeso Pluma & Anitta\n70\n53\n9',
 '88\nIDGAF\nDrake Featuring Yeat\n72\n2\n19',
 '89\nYeah Glo!\nGloRilla\n-\n89\n1',
 "90\nDifferent 'Round Here\nRiley Green Featuring Luke Combs\n66\n60\n11",
 '91\nRE- ENTRY\nShe Calls Me Back\nNoah Kahan With Kacey Musgraves\n-\n76\n2',
 "92\nWe Don't Fight Anymore\nCarly Pearce Featuring Chris Stapleton\n79\n67\n9",
 "93\nGood (Don't Die)\n¥$: Kanye West & Ty Dolla $ign\n-\n93\n1",
 '94\nKing\n¥$: Kanye West & Ty Dolla $ign\n-\n94\n1',
 '95\nCoal\nDylan Gossett\n86\n86\n6',
 '96\nMmhmm\nBigXthaPlug\n83\n65\n8',
 '97\nMonaco\nBad Bunny\n77\n5\n18',
 '98\nProve It\n21 Savage & Summer Walker\n75\n43\n5',
 '99\nPerro Negro\nBad Bunny & Feid\n82\n20\n15',
 '100\nSunday Service\nLatto\n-\n100\n1']

In [263]:
rank = []
for item in data:
  rank.append(item.split('\n')[0])

song_name = []
for item in data:
  song_name.append(item.split('\n')[1])

artist_name = []
for item in data:
  artist_name.append(item.split('\n')[2])

last_week_rank = []
for item in data:
  last_week_rank.append(item.split('\n')[3])

peak_rank = []
for item in data:
  peak_rank.append(item.split('\n')[4])

Weeks_on_board= []
for item in data:
  Weeks_on_board.append(item.split('\n')[5])

In [264]:
import pandas as pd

In [265]:
df = pd.DataFrame({'Rank': rank , 'Song name' : song_name , 'Artist name': artist_name , 'Last week rank': last_week_rank , 'Peak rank': peak_rank , 'Weeks on board': Weeks_on_board})

# 5 - Output

In [266]:
df

,Rank,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,1,Lovin On Me,Jack Harlow,1,1,14
1,2,Texas Hold 'Em,Beyonce,-,2,1
2,3,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
3,4,Beautiful Things,Benson Boone,3,3,4
4,5,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...,...
95,96,Mmhmm,BigXthaPlug,83,65,8
96,97,Monaco,Bad Bunny,77,5,18
97,98,Prove It,21 Savage & Summer Walker,75,43,5
98,99,Perro Negro,Bad Bunny & Feid,82,20,15
99,100,Sunday Service,Latto,-,100,1

# Question - 6

6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [267]:
driver6 = webdriver.Chrome()

In [268]:
driver6.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [269]:
table = driver6.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table')

In [270]:
table

In [271]:
Main_table = []

In [272]:
main_table = table[0].find_elements(By.TAG_NAME,'tbody')
for tbody in main_table:
    tr_elements = tbody.find_elements(By.TAG_NAME, 'tr')  # Find <tr> elements within each <tbody>
    for tr in tr_elements:
        Main_table.append(tr.text)

# 6 - Output

In [273]:
Main_table

['1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure',
 "2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
 "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction",
 "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
 '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas',
 "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
 "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction",
 "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
 '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure',
 "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
 '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas',
 '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
 '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure',
 '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
 '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure',
 '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
 '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure',
 '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
 '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction',
 '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
 '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure',
 '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
 '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure',
 '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
 '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books',
 '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
 "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General",
 '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
 '29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction',
 '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
 "31 Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure",
 "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
 '33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction',
 "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
 '35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General',
 "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
 '37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General',
 '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
 '39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts',
 '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
 "41 Gruffalo's Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books",
 "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
 '43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction',
 '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
 '45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction',
 '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
 '47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction',
 '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
 '49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction',
 "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
 '51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction',
 '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
 '53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet',
 '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
 "55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children's Fiction",
 '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
 "57 Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet",
 '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
 '59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides',
 "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
 '61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction',
 '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
 "63 My Sister's Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction",
 '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
 '65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction',
 '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
 '67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts',
 '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
 '69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure',
 '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
 '71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues',
 '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
 '73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts',
 '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
 "75 At My Mother's Knee ...:and Other Low Joints O'Grady, Paul 945,640 Transworld Autobiography: The Arts",
 '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
 '77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General',
 '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
 "79 Jamie's Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine",
 '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
 '81 Down Under Bryson, Bill 890,847 Transworld Travel Writing',
 '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
 '83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction',
 '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
 '85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction',
 "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
 '87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books',
 '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
 '89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts',
 '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
 '91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals',
 '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
 '93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction',
 '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
 '95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction',
 '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
 '97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General',
 '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
 "99 Lost Boy,The:A Foster Child's Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General",
 "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]

# Question - 7

7.https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc

*Name

*Year span

* rating

* votes

In [275]:
driver7 = webdriver.Chrome()

In [276]:
driver7.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')

In [277]:
LIS = []

In [278]:
Names = driver7.find_elements(By.XPATH ,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul')
try :
    Lis = Names[0].find_elements(By.TAG_NAME, 'li')
    for i in Lis :
        LIS.append(i.text)
except NoSuchElementException :
    LIS.append("-")

In [279]:
LIS

['1. Game of Thrones\n2011–2019\nTV-MA\n9.2\n (2.3M)\nRate\nTV Series\nNine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for a millennia.\nVotes2,259,175',
 "2. Breaking Bad\n2008–2013\nTV-MA\n9.5\n (2.1M)\nRate\nTV Series\nA chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine with a former student in order to secure his family's future.\nVotes2,106,604",
 '3. Stranger Things\n2016–2025\nTV-14\n8.7\n (1.3M)\nRate\nTV Series\nWhen a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces and one strange little girl.\nVotes1,318,050',
 '4. Friends\n1994–2004\nTV-14\n8.9\n (1.1M)\nRate\nTV Series\nFollows the personal and professional lives of six twenty to thirty year-old friends living in the Manhattan borough of New York City.\nVotes1,077,381',
 '5. The Walking Dead\n2010–2022\nTV-MA\n8.1\n (1.1M)\nRate\nTV Series\nSheriff Deputy Rick Grimes wakes up from a coma to learn the world is in ruins and must lead a group of survivors to stay alive.\nVotes1,070,382',
 '6. Sherlock\n2010–2017\nTV-14\n9.1\n (988K)\nRate\nTV Series\nThe quirky spin on Conan Doyle\'s iconic sleuth pitches him as a "high-functioning sociopath" in modern-day London. Assisting him in his investigations: Afghanistan War vet John Watson, who\'s introduced to Holmes by a mutual acquaintance.\nVotes988,312',
 '7. The Big Bang Theory\n2007–2019\nTV-PG\n8.1\n (860K)\nRate\nTV Series\nA woman who moves into an apartment across the hall from two brilliant but socially awkward physicists shows them how little they know about life outside of the laboratory.\nVotes860,084',
 "8. Dexter\n2006–2013\nTV-MA\n8.7\n (759K)\nRate\nTV Series\nHe's smart. He's lovable. He's Dexter Morgan, America's favorite serial killer, who spends his days solving crimes and nights committing them.\nVotes758,853",
 '9. How I Met Your Mother\n2005–2014\nTV-14\n8.3\n (723K)\nRate\nTV Series\nA father recounts to his children - through a series of flashbacks - the journey he and his four best friends took leading up to him meeting their mother.\nVotes723,370',
 '10. The Office\n2005–2013\nTV-14\n9.0\n (699K)\nRate\nTV Series\nA mockumentary on a group of typical office workers, where the workday consists of ego clashes, inappropriate behavior, and tedium.\nVotes698,507',
 '11. True Detective\n2014–\nTV-MA\n8.9\n (641K)\nRate\nTV Series\nAnthology series in which police investigations unearth the personal and professional secrets of those involved, both within and outside the law.\nVotes641,307',
 '12. Peaky Blinders\n2013–2022\nTV-MA\n8.8\n (636K)\nRate\nTV Series\nA gangster family epic set in 1900s England, centering on a gang who sew razor blades in the peaks of their caps, and their fierce boss Tommy Shelby.\nVotes636,278',
 '13. Better Call Saul\n2015–2022\nTV-MA\n9.0\n (635K)\nRate\nTV Series\nThe trials and tribulations of criminal lawyer Jimmy McGill in the years leading up to his fateful run-in with Walter White and Jesse Pinkman.\nVotes635,427',
 '14. The Boys\n2019–\nTV-MA\n8.7\n (633K)\nRate\nTV Series\nA group of vigilantes set out to take down corrupt superheroes who abuse their superpowers.\nVotes633,479',
 '15. Black Mirror\n2011–\nTV-MA\n8.7\n (632K)\nRate\nTV Series\nFeaturing stand-alone dramas -- sharp, suspenseful, satirical tales that explore techno-paranoia -- "Black Mirror" is a contemporary reworking of "The Twilight Zone" with stories that tap into the collective unease about the modern world.\nVotes632,277',
 '16. Rick and Morty\n2013–\nTV-MA\n9.1\n (594K)\nRate\nTV Series\nThe fractured domestic lives of a nihilistic mad scientist and his anxious grandson are further complicated by their inter-dimensional misadventures.\nVotes593,698',
 '17. Lost\n2004–2010\nTV-14\n8.3\n (590K)\nRate\nTV Series\nThe survivors of a plane crash are forced to work together in order to survive on a seemingly deserted tropical island.\nVotes589,687',
 '18. The Mandalorian\n2019–\nTV-14\n8.7\n (580K)\nRate\nTV Series\nThe travels of a lone bounty hunter in the outer reaches of the galaxy, far from the authority of the New Republic.\nVotes579,606',
 '19. Vikings\n2013–2020\nTV-MA\n8.5\n (575K)\nRate\nTV Series\nVikings transports us to the brutal and mysterious world of Ragnar Lothbrok, a Viking warrior and farmer who yearns to explore--and raid--the distant shores across the ocean.\nVotes575,250',
 '20. Prison Break\n2005–2017\nTV-14\n8.3\n (574K)\nRate\nTV Series\nA structural engineer installs himself in a prison he helped design, in order to save his falsely accused brother from a death sentence by breaking themselves out from the inside.\nVotes574,316',
 '21. The Witcher\n2019–\nTV-MA\n8.0\n (565K)\nRate\nTV Series\nGeralt of Rivia, a solitary monster hunter, struggles to find his place in a world where people often prove more wicked than beasts.\nVotes564,541',
 "22. Squid Game\n2021–\nTV-MA\n8.0\n (530K)\nRate\nTV Series\nHundreds of cash-strapped players accept a strange invitation to compete in children's games. Inside, a tempting prize awaits with deadly high stakes: a survival game that has a whopping 45.6 billion-won prize at stake.\nVotes530,345",
 '23. Westworld\n2016–2022\nTV-MA\n8.5\n (529K)\nRate\nTV Series\nAt the intersection of the near future and the reimagined past, waits a world in which every human appetite can be indulged without consequence.\nVotes529,258',
 '24. House of Cards\n2013–2018\nTV-MA\n8.6\n (528K)\nRate\nTV Series\nA Congressman works with his equally conniving wife to exact revenge on the people who betrayed him.\nVotes527,928',
 '25. Money Heist\n2017–2021\nTV-MA\n8.2\n (526K)\nRate\nTV Series\nAn unusual group of robbers attempt to carry out the most perfect robbery in Spanish history - stealing 2.4 billion euros from the Royal Mint of Spain.\nVotes525,916',
 '26. House\n2004–2012\nTV-14\n8.7\n (504K)\nRate\nTV Series\nUsing a crack team of doctors and his wits, an antisocial maverick doctor specializing in diagnostic medicine does whatever it takes to solve puzzling cases that come his way.\nVotes504,130',
 "27. The Last of Us\n2023–\nTV-MA\n8.8\n (501K)\nRate\nTV Series\nAfter a global pandemic destroys civilization, a hardened survivor takes charge of a 14-year-old girl who may be humanity's last hope.\nVotes500,798",
 '28. Attack on Titan\n2013–2023\nTV-MA\n9.1\n (498K)\nRate\nTV Series\nAfter his hometown is destroyed and is traumatized, young Eren Jaeger vows to cleanse the earth of the giant humanoid Titans that have brought humanity to the brink of extinction.\nVotes497,628',
 "29. Supernatural\n2005–2020\nTV-14\n8.4\n (478K)\nRate\nTV Series\nTwo brothers follow their father's footsteps as hunters, fighting evil supernatural beings of many kinds, including monsters, demons, and gods that roam the earth.\nVotes478,497",
 '30. Modern Family\n2009–2020\nTV-PG\n8.5\n (476K)\nRate\nTV Series\nThree different, but related, families face trials and tribulations in their own uniquely comedic ways.\nVotes476,404',
 "31. Suits\n2011–2019\nTV-14\n8.4\n (471K)\nRate\nTV Series\nOn the run from a drug deal gone bad, brilliant college dropout Mike Ross finds himself working with Harvey Specter, one of New York City's best lawyers.\nVotes471,258",
 '32. Daredevil\n2015–2018\nTV-MA\n8.6\n (471K)\nRate\nTV Series\nA blind lawyer by day, vigilante by night. Matt Murdock fights the crime of New York as Daredevil.\nVotes470,828',
 '33. Narcos\n2015–2017\nTV-MA\n8.8\n (465K)\nRate\nTV Series\nA chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar, as well as the many other drug kingpins who plagued the country through the years.\nVotes465,096',
 '34. The Sopranos\n1999–2007\nTV-MA\n9.2\n (462K)\nRate\nTV Series\nNew Jersey mob boss Tony Soprano deals with personal and professional issues in his home and business life that affect his mental state, leading him to seek professional psychiatric counseling.\nVotes461,844',
 '35. Arrow\n2012–2020\nTV-14\n7.5\n (445K)\nRate\nTV Series\nSpoiled billionaire playboy Oliver Queen is missing and presumed dead when his yacht is lost at sea. He returns five years later a changed man, determined to clean up the city as a hooded vigilante armed with a bow.\nVotes444,573',
 '36. Dark\n2017–2020\nTV-MA\n8.7\n (437K)\nRate\nTV Series\nA family saga with a supernatural twist, set in a German town where the disappearance of two young children exposes the relationships among four families.\nVotes437,023',
 '37. The Simpsons\n1989–\nTV-14\n8.7\n (433K)\nRate\nTV Series\nThe satiric adventures of a working-class family in the misfit city of Springfield.\nVotes432,663',
 '38. Fargo\n2014–2024\nTV-MA\n8.9\n (416K)\nRate\nTV Series\nVarious chronicles of deception, intrigue, and murder in and around frozen Minnesota. All of these tales mysteriously lead back one way or another to Fargo, North Dakota.\nVotes415,543',
 '39. Mr. Robot\n2015–2019\nTV-MA\n8.5\n (415K)\nRate\nTV Series\nElliot, a brilliant but unstable cyber-security engineer and vigilante hacker, becomes a key figure in a complex game of global chaos when he and his shadowy allies try to take down the corrupt corporation his company is paid to protect.\nVotes414,783',
 '40. Loki\n2021–2023\nTV-14\n8.2\n (406K)\nRate\nTV Series\nThe mercurial villain Loki resumes his role as the God of Mischief in a new series that takes place after the events of “Avengers: Endgame.”\nVotes406,010',
 '41. South Park\n1997–\nTV-MA\n8.7\n (403K)\nRate\nTV Series\nFollows the misadventures of four irreverent grade-schoolers in the quiet, dysfunctional town of South Park, Colorado.\nVotes403,021',
 '42. The Wire\n2002–2008\nTV-MA\n9.3\n (373K)\nRate\nTV Series\nThe Baltimore drug scene, as seen through the eyes of drug dealers and law enforcement.\nVotes372,554',
 '43. Death Note\n2006–2007\nTV-14\n8.9\n (372K)\nRate\nTV Series\nAn intelligent high school student goes on a secret crusade to eliminate criminals from the world after discovering a notebook capable of killing anyone whose name is written into it.\nVotes371,989',
 "44. The Flash\n2014–2023\nTV-PG\n7.5\n (367K)\nRate\nTV Series\nAfter being struck by lightning, Barry Allen wakes up from his coma to discover he's been given the power of super speed, becoming the Flash, and fighting crime in Central City.\nVotes366,737",
 '45. House of the Dragon\n2022–\nTV-MA\n8.4\n (363K)\nRate\nTV Series\nAn internal succession war within House Targaryen at the height of its power, 172 years before the birth of Daenerys Targaryen.\nVotes362,991',
 '46. Family Guy\n1999–2025\nTV-MA\n8.2\n (362K)\nRate\nTV Series\nIn a wacky Rhode Island town, a dysfunctional family strives to cope with everyday life as they are thrown from one crazy scenario to another.\nVotes361,665',
 '47. Homeland\n2011–2020\nTV-MA\n8.3\n (359K)\nRate\nTV Series\nA bipolar CIA operative becomes convinced a prisoner of war has been turned by al-Qaeda and is planning to carry out a terrorist attack on American soil.\nVotes359,032',
 '48. Avatar: The Last Airbender\n2005–2008\nTV-Y7-FV\n9.3\n (357K)\nRate\nTV Series\nIn a war-torn world of elemental magic, a young boy reawakens to undertake a dangerous mystic quest to fulfill his destiny as the Avatar, and bring peace to the world.\nVotes356,940',
 "49. Brooklyn Nine-Nine\n2013–2021\nTV-14\n8.4\n (356K)\nRate\nTV Series\nComedy series following the exploits of Det. Jake Peralta and his diverse, lovable colleagues as they police the NYPD's 99th Precinct.\nVotes355,645",
 "50. Wednesday\n2022–\nTV-14\n8.1\n (353K)\nRate\nTV Series\nFollows Wednesday Addams' years as a student, when she attempts to master her emerging psychic ability, thwart a killing spree, and solve the mystery that embroiled her parents.\nVotes352,610"]

In [280]:
Movie_name = []
for item in LIS:
  Movie_name.append(item.split('\n')[0])

Movie_Name = []
for i in Movie_name :
    Movie_Name.append(i.split('.')[1])
    
Year_span = []
for item in LIS:
  Year_span.append(item.split('\n')[1])

Rating = []
for item in LIS:
  Rating.append(item.split('\n')[3])

Vots = []
for item in LIS:
  Vots.append(item.split('\n')[-1])

In [281]:
import pandas as pd

In [282]:
df = pd.DataFrame({'Name': Movie_Name , 'Year span': Year_span , 'Rating' : Rating , 'Votes':  Vots})

# 7 - Output

In [283]:
df

                           Name  Year span Rating           Votes
0               Game of Thrones  2011–2019    9.2  Votes2,259,175
1                  Breaking Bad  2008–2013    9.5  Votes2,106,604
2               Stranger Things  2016–2025    8.7  Votes1,318,050
3                       Friends  1994–2004    8.9  Votes1,077,381
4              The Walking Dead  2010–2022    8.1  Votes1,070,382
5                      Sherlock  2010–2017    9.1    Votes988,312
6           The Big Bang Theory  2007–2019    8.1    Votes860,084
7                        Dexter  2006–2013    8.7    Votes758,853
8         How I Met Your Mother  2005–2014    8.3    Votes723,370
9                    The Office  2005–2013    9.0    Votes698,507
10               True Detective      2014–    8.9    Votes641,307
11               Peaky Blinders  2013–2022    8.8    Votes636,278
12             Better Call Saul  2015–2022    9.0    Votes635,427
13                     The Boys      2019–    8.7    Votes633,479
14                 Black Mirror      2011–    8.7    Votes632,277
15               Rick and Morty      2013–    9.1    Votes593,698
16                         Lost  2004–2010    8.3    Votes589,687
17              The Mandalorian      2019–    8.7    Votes579,606
18                      Vikings  2013–2020    8.5    Votes575,250
19                 Prison Break  2005–2017    8.3    Votes574,316
20                  The Witcher      2019–    8.0    Votes564,541
21                   Squid Game      2021–    8.0    Votes530,345
22                    Westworld  2016–2022    8.5    Votes529,258
23               House of Cards  2013–2018    8.6    Votes527,928
24                  Money Heist  2017–2021    8.2    Votes525,916
25                        House  2004–2012    8.7    Votes504,130
26               The Last of Us      2023–    8.8    Votes500,798
27              Attack on Titan  2013–2023    9.1    Votes497,628
28                 Supernatural  2005–2020    8.4    Votes478,497
29                Modern Family  2009–2020    8.5    Votes476,404
30                        Suits  2011–2019    8.4    Votes471,258
31                    Daredevil  2015–2018    8.6    Votes470,828
32                       Narcos  2015–2017    8.8    Votes465,096
33                 The Sopranos  1999–2007    9.2    Votes461,844
34                        Arrow  2012–2020    7.5    Votes444,573
35                         Dark  2017–2020    8.7    Votes437,023
36                 The Simpsons      1989–    8.7    Votes432,663
37                        Fargo  2014–2024    8.9    Votes415,543
38                           Mr  2015–2019    8.5    Votes414,783
39                         Loki  2021–2023    8.2    Votes406,010
40                   South Park      1997–    8.7    Votes403,021
41                     The Wire  2002–2008    9.3    Votes372,554
42                   Death Note  2006–2007    8.9    Votes371,989
43                    The Flash  2014–2023    7.5    Votes366,737
44          House of the Dragon      2022–    8.4    Votes362,991
45                   Family Guy  1999–2025    8.2    Votes361,665
46                     Homeland  2011–2020    8.3    Votes359,032
47   Avatar: The Last Airbender  2005–2008    9.3    Votes356,940
48           Brooklyn Nine-Nine  2013–2021    8.4    Votes355,645
49                    Wednesday      2022–    8.1    Votes352,610

# Question - 8

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [284]:
driver8 = webdriver.Chrome()

In [285]:
driver8.get('https://archive.ics.uci.edu/')

In [286]:
view_dataset = driver8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_dataset.click()

In [287]:
Expand_all = driver8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]')
Expand_all.click()

In [288]:
rows = []

In [289]:
D = driver8.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]')
try :
    row = D[0].find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div')
    for i in row :
        rows.append(i.text)
except NoSuchElementException :
    rows.append("_")

In [290]:
rows

['Iris\nA small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.\nClassification\nTabular\n150 Instances\n4 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Real 6/30/1988 665.79K',
 '',
 'Dry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Integer, Real 9/13/2020 530.68K',
 '',
 'Heart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nHealth and Medicine Categorical, Integer, Real 6/30/1988 467.32K',
 '',
 "Rice (Cammeo and Osmancik)\nA total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n7 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Real 10/5/2019 464.14K",
 '',
 'Adult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nSocial Science Categorical, Integer 4/30/1996 358.37K',
 '',
 'Raisin\nImages of the Kecimen and Besni raisin varieties were obtained with CVS. A total of 900 raisins were used, including 450 from both varieties, and 7 morphological features were extracted.\nClassification\nMultivariate\n900 Instances\n8 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Real, Integer 8/13/2023 343.57K',
 '',
 'Wine\nUsing chemical analysis to determine the origin of wines\nClassification\nTabular\n178 Instances\n13 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nPhysics and Chemistry Integer, Real 6/30/1991 287.46K',
 '',
 'Breast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nHealth and Medicine Real 10/31/1995 287.4K',
 '',
 'Wine Quality\nTwo datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).\nClassification, Regression\nMultivariate\n4.9K Instances\n12 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBusiness Real 10/6/2009 236.28K',
 '',
 "Diabetes\nThis diabetes dataset is from AIM '94\nClassification\nMultivariate, Time-Series\n1 Instances\n20 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nHealth and Medicine Categorical, Integer N/A 221.05K",
 '']

In [291]:
new_rows = []

for i in range(len(rows)):
    if i % 2 == 0:
        new_rows.append(rows[i])

In [292]:
new_rows

['Iris\nA small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.\nClassification\nTabular\n150 Instances\n4 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Real 6/30/1988 665.79K',
 'Dry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Integer, Real 9/13/2020 530.68K',
 'Heart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nHealth and Medicine Categorical, Integer, Real 6/30/1988 467.32K',
 "Rice (Cammeo and Osmancik)\nA total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n7 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Real 10/5/2019 464.14K",
 'Adult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nSocial Science Categorical, Integer 4/30/1996 358.37K',
 'Raisin\nImages of the Kecimen and Besni raisin varieties were obtained with CVS. A total of 900 raisins were used, including 450 from both varieties, and 7 morphological features were extracted.\nClassification\nMultivariate\n900 Instances\n8 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBiology Real, Integer 8/13/2023 343.57K',
 'Wine\nUsing chemical analysis to determine the origin of wines\nClassification\nTabular\n178 Instances\n13 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nPhysics and Chemistry Integer, Real 6/30/1991 287.46K',
 'Breast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nHealth and Medicine Real 10/31/1995 287.4K',
 'Wine Quality\nTwo datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).\nClassification, Regression\nMultivariate\n4.9K Instances\n12 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nBusiness Real 10/6/2009 236.28K',
 "Diabetes\nThis diabetes dataset is from AIM '94\nClassification\nMultivariate, Time-Series\n1 Instances\n20 Features\nSubject Area\nFeature Type\nDate Donated\nViews\nHealth and Medicine Categorical, Integer N/A 221.05K"]

In [293]:
Dataset_name = []

for i in new_rows :
    Dataset_name.append(i.split('\n')[0])
    
Dataset_name

['Iris',
 'Dry Bean Dataset',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Adult',
 'Raisin',
 'Wine',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine Quality',
 'Diabetes']

In [294]:
Data_type = []

for i in new_rows :
    Data_type.append(i.split('\n')[3])
    
Data_type

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate, Time-Series']

In [295]:
Task = []

for i in new_rows :
    Task.append(i.split('\n')[2])
    
Task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification']

In [296]:
No_attributes = []

for i in new_rows :
    No_attributes.append(i.split('\n')[5])
    
No_of_attributes = []

for i in No_attributes :
    No_of_attributes.append(i.split(' ')[0])
    
No_of_attributes

['4', '16', '13', '7', '14', '8', '13', '30', '12', '20']

In [297]:
No_instance = []

for i in new_rows :
    No_instance.append(i.split('\n')[4])
    
No_of_instance = []

for i in No_instance :
    No_of_instance.append(i.split(' ')[0])
    
No_of_instance

['150', '13.61K', '303', '3.81K', '48.84K', '900', '178', '569', '4.9K', '1']

In [298]:
rest = []

for i in new_rows :
    rest.append(i.split('\n')[-1])
    
rest

['Biology Real 6/30/1988 665.79K',
 'Biology Integer, Real 9/13/2020 530.68K',
 'Health and Medicine Categorical, Integer, Real 6/30/1988 467.32K',
 'Biology Real 10/5/2019 464.14K',
 'Social Science Categorical, Integer 4/30/1996 358.37K',
 'Biology Real, Integer 8/13/2023 343.57K',
 'Physics and Chemistry Integer, Real 6/30/1991 287.46K',
 'Health and Medicine Real 10/31/1995 287.4K',
 'Business Real 10/6/2009 236.28K',
 'Health and Medicine Categorical, Integer N/A 221.05K']

In [299]:
def filter_words_by_starting_letter(text, letters):
  
  filtered_words = []
  for word in text.split():
      if word[0].upper() in letters:
          filtered_words.append(word)
  return " ".join(filtered_words)

Attribute_type = [filter_words_by_starting_letter(element, ['R', 'I', 'C']) for element in rest]

In [300]:
Attribute_type

['Real',
 'Integer, Real',
 'Categorical, Integer, Real',
 'Real',
 'Categorical, Integer',
 'Real, Integer',
 'Chemistry Integer, Real',
 'Real',
 'Real',
 'Categorical, Integer']

In [301]:
Year = []

for i in rest :
    Year.append(i.split(' ')[-2])
    
Year

['6/30/1988',
 '9/13/2020',
 '6/30/1988',
 '10/5/2019',
 '4/30/1996',
 '8/13/2023',
 '6/30/1991',
 '10/31/1995',
 '10/6/2009',
 'N/A']

In [302]:
import pandas as pd

# 8 - Output

In [303]:
df = pd.DataFrame({'Dataset name': Dataset_name , 'Data type': Data_type , 'Task': Task , 'Attribute type': Attribute_type , 'No of instances': No_of_instance , 'No of attribute': No_of_attributes , 'Year': Year   })
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150,4,6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K,16,9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K,7,10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K,14,4/30/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,8,8/13/2023
6,Wine,Tabular,Classification,"Chemistry Integer, Real",178,13,6/30/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K,12,10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,N/A