In [498]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# Question - 1

1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

# Answer ;

In [2]:
driver1 = webdriver.Chrome()

In [3]:
driver1.get('https://www.shine.com/')

In [7]:
Jobs = driver1.find_element(By.CLASS_NAME,"mobileBottomNav_mfnJobs__z85Dv")
Jobs.click()

In [10]:
Job_title = driver1.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[1]/div/input')
Job_title.send_keys('Data Analyst')

In [12]:
Locations = driver1.find_element(By.XPATH , '/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input')
Locations.send_keys('Bangalore')

In [14]:
search = driver1.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [31]:
Job_titles1 = []

In [51]:
titles = driver1.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div[1]/div[10]/div[1]/div[1]/h2')
for i in titles :
    Job_titles1.append(i.text)

In [52]:
Job_titles1

['Lead Data Analyst',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Modeler data',
 'Data Modeller',
 'Data Modeler Bangalore',
 'Data Modeler',
 'Clinical Data Analyst',
 'Data Analyst Hiring Fresher and Experience']

In [75]:
job_locatios1 = []

In [96]:
locations = driver1.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div[1]/div[10]/div[1]/div[1]/div[3]/div[2]')
for i in locations:
    job_locatios1.append(i.text)

In [97]:
job_locatios1

['Bangalore',
 'Bangalore\n+3',
 'Bangalore\n+14',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+4',
 'Bangalore\n+13']

In [101]:
company_names1 = []

In [103]:
names = driver1.find_elements(By.CLASS_NAME,"jobCard_jobCard_cName__mYnow")
for i in names :
    company_names1.append(i.text)

In [105]:
company_names1

['ara resources private limited',
 'diraa hr services hiring for mncs',
 'yogita staffing solution',
 'techno endura',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'quiscon biotech',
 'kavya interprises',
 'kavya interprises',
 'ltimindtree limited',
 'kavya interprises',
 'fondstaff private limited',
 'ltimindtree limited',
 'techno endura',
 'boyen haddin consulting and technol...',
 'yogita staffing solution',
 'vaishnavi services',
 'rianshi developers private limited',
 'quiscon biotech',
 'pick bright hr solution',
 'infosys limited',
 'aereo',
 'varite india private limited',
 'techno endura',
 'future solution centre',
 'boyen haddin consulting and technol...',
 'global solutions..',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'md shakeel ahamed hiring for mnc',
 'techno endura',
 'yogita staffing solution',
 'global solutions..',
 'acme services private limited',
 'ltimindtree limited',
 'neostats',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...']

In [106]:
comapny_name = company_names1[:10]

In [108]:
comapny_name

['ara resources private limited',
 'diraa hr services hiring for mncs',
 'yogita staffing solution',
 'techno endura',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'quiscon biotech',
 'kavya interprises']

In [111]:
experiece_requirments1 = []

In [132]:
requirments = driver1.find_elements(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div[1]/div[10]/div[1]/div[1]/div[3]/div[1]")
for i in requirments :
    experiece_requirments1.append(i.text)

In [133]:
experiece_requirments1

['4 to 9 Yrs',
 '0 to 1 Yr',
 '0 to 3 Yrs',
 '0 to 1 Yr',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '0 to 2 Yrs',
 '0 to 4 Yrs']

In [98]:
import pandas as pd

In [134]:
df1 = pd.DataFrame({'Job titles':Job_titles1 , 'Job locations':job_locatios1 , 'Company names': comapny_name , 'Experience requirments': experiece_requirments1})

# DataFrame of Q.1

In [136]:
df1

,Job titles,Job locations,Company names,Experience requirments
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs

# Question - 2

Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

# Answer ;

In [139]:
#1
driver2 = webdriver.Chrome()
driver2.get('https://www.shine.com/')

In [140]:
Jobs2 = driver2.find_element(By.CLASS_NAME,"mobileBottomNav_mfnJobs__z85Dv")
Jobs2.click()

In [141]:
Job_title2 = driver2.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[1]/div/input')
Job_title2.send_keys('Data Scientist')
Locations2 = driver2.find_element(By.XPATH ,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input')
Locations2.send_keys('Bangalore')

In [142]:
search2 = driver2.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search2.click()

In [147]:
Job_titles2 = []
Job_locations2 = []
company_names2 = []

In [166]:
titles2 = driver2.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div[1]/div[10]/div[1]/div[1]/h2/a')
for i in titles2 :
    Job_titles2.append(i.text)

In [167]:
Job_titles2

['Data Scientist',
 'Data Scientist',
 'Lead Data Scientist/ Principal Data Scientist',
 'Senior Data Scientist',
 'Vacancy For Data Scientist Fresher and Experience',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist Urgent Vacancy',
 'Data Scientist',
 'Pharma Data Scientist']

In [187]:
locations2 = driver2.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div[1]/div[10]/div[1]/div[1]/div[3]/div[2]')
for i in locations2 :
    Job_locations2.append(i.text)

In [188]:
Job_locations2

['Bangalore\n+4',
 'Bangalore',
 'Bangalore\n+1',
 'Bangalore\n+1',
 'Bangalore\n+14',
 'Bangalore\n+1',
 'Bangalore\n+7',
 'Bangalore\n+14',
 'Bangalore\n+2',
 'Bangalore\n+4']

In [189]:
name2 = driver2.find_elements(By.CLASS_NAME,"jobCard_jobCard_cName__mYnow")
for i in name2 :
    company_names2.append(i.text)

In [192]:
company_names = company_names2[:10]
company_names

['acme services private limited',
 'ltimindtree limited',
 'fractal',
 'neostats',
 'yogita staffing solution',
 'aereo',
 'people staffing solutions',
 'yogita staffing solution',
 'diraa hr services',
 'quiscon biotech']

In [193]:
df2 = pd.DataFrame({'Job Titles': Job_titles2 , 'Job Locations': Job_locations2 , 'Company names': company_names})

# DataFrame of Q.2

In [194]:
df2

,Job Titles,Job Locations,Company names
0,Data Scientist,Bangalore\n+4,acme services private limited
1,Data Scientist,Bangalore,ltimindtree limited
2,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal
3,Senior Data Scientist,Bangalore\n+1,neostats
4,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution
5,Lead Data Scientist,Bangalore\n+1,aereo
6,Data Scientist,Bangalore\n+7,people staffing solutions
7,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution
8,Data Scientist,Bangalore\n+2,diraa hr services
9,Pharma Data Scientist,Bangalore\n+4,quiscon biotech

# Question - 4

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses

# Answer ;

In [217]:
driver4 = webdriver.Chrome()

In [218]:
driver4.get('https://www.flipkart.com/')

In [222]:
input4 = driver4.find_element(By.CLASS_NAME,"Pke_EE")
input4.send_keys('sunglasses')

In [223]:
search4 = driver4.find_element(By.CLASS_NAME,"_2iLD__")
search4.click()

In [224]:
Brand1 = []
ProductDescription = []
Price = []

In [229]:
start = 0
end = 3

for page in range(start , end):
    Brand_names = driver4.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in Brand_names:
        Brand1.append(i.text)
    Product_names = driver4.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in Product_names:
        ProductDescription.append(i.text)
    Price_amount = driver4.find_elements(By.CLASS_NAME,"_30jeq3")
    for i in Price_amount:
        Price.append(i.text)
    next_button =  driver4.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()

StaleElementReferenceException: Message: stale element reference: stale element not found
  (Session info: chrome=120.0.6099.225); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#stale-element-reference-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6A7C62142+3514994]
	(No symbol) [0x00007FF6A7880CE2]
	(No symbol) [0x00007FF6A77276AA]
	(No symbol) [0x00007FF6A772CFC0]
	(No symbol) [0x00007FF6A772F38F]
	(No symbol) [0x00007FF6A772F480]
	(No symbol) [0x00007FF6A776BB0E]
	(No symbol) [0x00007FF6A7795FEA]
	(No symbol) [0x00007FF6A77663B6]
	(No symbol) [0x00007FF6A7796490]
	(No symbol) [0x00007FF6A77B28F6]
	(No symbol) [0x00007FF6A7795D93]
	(No symbol) [0x00007FF6A7764BDC]
	(No symbol) [0x00007FF6A7765C64]
	GetHandleVerifier [0x00007FF6A7C8E16B+3695259]
	GetHandleVerifier [0x00007FF6A7CE6737+4057191]
	GetHandleVerifier [0x00007FF6A7CDE4E3+4023827]
	GetHandleVerifier [0x00007FF6A79B04F9+689705]
	(No symbol) [0x00007FF6A788C048]
	(No symbol) [0x00007FF6A7888044]
	(No symbol) [0x00007FF6A78881C9]
	(No symbol) [0x00007FF6A78788C4]
	BaseThreadInitThunk [0x00007FFFAF617344+20]
	RtlUserThreadStart [0x00007FFFB0B026B1+33]

In [233]:
Brand = Brand1[:100]
ProductDescription1 = ProductDescription[:100]
Price1 = Price[:100]

In [234]:
import pandas as pd

In [235]:
df2 = pd.DataFrame({'Brand': Brand , 'Product Description':ProductDescription1 , 'Price' : Price1})

# DataFrame of Q.4

In [236]:
df2

              Brand                                Product Description Price
0            VOYAGE                UV Protection Round Sunglasses (52)  ₹698
1            OCHILA              UV Protection Aviator Sunglasses (58)  ₹199
2              SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
3         Elligator         UV Protection Retro Square Sunglasses (54)  ₹149
4           ROADWAY  UV Protection Retro Square, Wayfarer, Sports S...  ₹129
..              ...                                                ...   ...
95        Elligator             UV Protection Wayfarer Sunglasses (53)  ₹499
96        Elligator         UV Protection Retro Square Sunglasses (47)  ₹229
97     hayden haiza  Polarized, UV Protection Wayfarer Sunglasses (49)  ₹225
98  Lenskart Hustlr  UV Protection Retro Square Sunglasses (Free Size)  ₹169
99            Rozti            UV Protection Butterfly Sunglasses (60)  ₹523

[100 rows x 3 columns]

# Question - 5

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

# Answer ;

In [282]:
driver5 = webdriver.Chrome()

In [283]:
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [284]:
search = driver5.find_element(By.CLASS_NAME , 'button')
search.click()

In [285]:
search_products = driver5.find_element(By.CLASS_NAME,"Pke_EE")
search_products.send_keys('iphone11')

In [286]:
search2 = driver5.find_element(By.CLASS_NAME,'_2iLD__')
search2.click()

In [292]:
search3 = driver5.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a/div[1]')
search3.click()

In [337]:
Rating1 = []
Review_summery1 = []
Full_review1 = []
numbers = []

In [373]:
start = 0
end = 10

for pages in range (start , end) :
        
    Review = driver5.find_elements(By.CLASS_NAME,"_2-N8zT")
    for i in Review :
        Review_summery1.append(i.text)
    Full_reviews = driver5.find_elements(By.CLASS_NAME,"t-ZTKy")
    for i in Full_reviews:
        Full_review1.append(i.text)
    next_button1 = driver5.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button1.click()

StaleElementReferenceException: Message: stale element reference: stale element not found
  (Session info: chrome=120.0.6099.225); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#stale-element-reference-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6A7C62142+3514994]
	(No symbol) [0x00007FF6A7880CE2]
	(No symbol) [0x00007FF6A77276AA]
	(No symbol) [0x00007FF6A772CFC0]
	(No symbol) [0x00007FF6A772F38F]
	(No symbol) [0x00007FF6A772F480]
	(No symbol) [0x00007FF6A776BB0E]
	(No symbol) [0x00007FF6A7795FEA]
	(No symbol) [0x00007FF6A77663B6]
	(No symbol) [0x00007FF6A7796490]
	(No symbol) [0x00007FF6A77B28F6]
	(No symbol) [0x00007FF6A7795D93]
	(No symbol) [0x00007FF6A7764BDC]
	(No symbol) [0x00007FF6A7765C64]
	GetHandleVerifier [0x00007FF6A7C8E16B+3695259]
	GetHandleVerifier [0x00007FF6A7CE6737+4057191]
	GetHandleVerifier [0x00007FF6A7CDE4E3+4023827]
	GetHandleVerifier [0x00007FF6A79B04F9+689705]
	(No symbol) [0x00007FF6A788C048]
	(No symbol) [0x00007FF6A7888044]
	(No symbol) [0x00007FF6A78881C9]
	(No symbol) [0x00007FF6A78788C4]
	BaseThreadInitThunk [0x00007FFFAF617344+20]
	RtlUserThreadStart [0x00007FFFB0B026B1+33]

In [376]:
Review_summery = Review_summery1[:100]
Full_review = Full_review1[:100]

In [377]:
df5 = pd.DataFrame({'Rivew summery': Review_summery , 'Full review': Full_review})

# DataFrame of Q.5

In [378]:
df5

         Rivew summery                                        Full review
0    Worth every penny  Feeling awesome after getting the delivery of ...
1            Wonderful       Great choice if you looking for everyday use
2   Highly recommended  Battery - more or less 2 days\nCamera - can no...
3     Perfect product!                         Nice products thanks flkat
4            Wonderful  I bought during the big billion sale. It’s wor...
..                 ...                                                ...
95   Worth every penny  Battery - more or less 2 days\nCamera - can no...
96           Wonderful                         Nice products thanks flkat
97  Highly recommended  I bought during the big billion sale. It’s wor...
98    Perfect product!           Awesome product ❤️❤️\nThank you Flipkart
99           Wonderful  Feeling awesome after getting the delivery of ...

[100 rows x 2 columns]

# Question - 6

Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

# Answer ;

In [379]:
driver6 = webdriver.Chrome()

In [380]:
driver6.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [382]:
search = driver6.find_element(By.CLASS_NAME , 'button')
search.click()

In [383]:
search_products = driver6.find_element(By.CLASS_NAME,"Pke_EE")
search_products.send_keys('sneakers')

In [384]:
search2 = driver6.find_element(By.CLASS_NAME,'_2iLD__')
search2.click()

In [385]:
Brand2 = []
ProductDescription2 = []
Price2 = []

In [401]:
start = 0
end = 4

for page in range(start , end):
    Brand_names = driver6.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in Brand_names:
        Brand2.append(i.text)
    Product_names = driver6.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in Product_names:
        ProductDescription2.append(i.text)
    Price_amount = driver6.find_elements(By.CLASS_NAME,"_30jeq3")
    for i in Price_amount:
        Price2.append(i.text)
    next_button =  driver6.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()

StaleElementReferenceException: Message: stale element reference: stale element not found
  (Session info: chrome=120.0.6099.225); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#stale-element-reference-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6A7C62142+3514994]
	(No symbol) [0x00007FF6A7880CE2]
	(No symbol) [0x00007FF6A77276AA]
	(No symbol) [0x00007FF6A772CFC0]
	(No symbol) [0x00007FF6A772F38F]
	(No symbol) [0x00007FF6A772F480]
	(No symbol) [0x00007FF6A776BB0E]
	(No symbol) [0x00007FF6A7795FEA]
	(No symbol) [0x00007FF6A77663B6]
	(No symbol) [0x00007FF6A7796490]
	(No symbol) [0x00007FF6A77B28F6]
	(No symbol) [0x00007FF6A7795D93]
	(No symbol) [0x00007FF6A7764BDC]
	(No symbol) [0x00007FF6A7765C64]
	GetHandleVerifier [0x00007FF6A7C8E16B+3695259]
	GetHandleVerifier [0x00007FF6A7CE6737+4057191]
	GetHandleVerifier [0x00007FF6A7CDE4E3+4023827]
	GetHandleVerifier [0x00007FF6A79B04F9+689705]
	(No symbol) [0x00007FF6A788C048]
	(No symbol) [0x00007FF6A7888044]
	(No symbol) [0x00007FF6A78881C9]
	(No symbol) [0x00007FF6A78788C4]
	BaseThreadInitThunk [0x00007FFFAF617344+20]
	RtlUserThreadStart [0x00007FFFB0B026B1+33]

In [405]:
Brand = Brand2[:100]
ProductDescription = ProductDescription2[:100]
Price = Price2[:100]

In [406]:
df6 = pd.DataFrame({'Brand': Brand , 'Product Description':ProductDescription1 , 'Price' : Price})

# DataFrame of Q.6

In [407]:
df6

            Brand                                Product Description   Price
0          Footox                UV Protection Round Sunglasses (52)    ₹317
1    Robbie jones              UV Protection Aviator Sunglasses (58)    ₹449
2        URBANBOX             UV Protection Wayfarer Sunglasses (50)    ₹299
3          BRUTON         UV Protection Retro Square Sunglasses (54)    ₹299
4       Deals4you  UV Protection Retro Square, Wayfarer, Sports S...    ₹399
..            ...                                                ...     ...
95         Shozie             UV Protection Wayfarer Sunglasses (53)    ₹386
96  WHITE WALKERS         UV Protection Retro Square Sunglasses (47)    ₹469
97       RED TAPE  Polarized, UV Protection Wayfarer Sunglasses (49)    ₹249
98        SCETTRO  UV Protection Retro Square Sunglasses (Free Size)    ₹599
99         Golazo            UV Protection Butterfly Sunglasses (60)  ₹1,709

[100 rows x 3 columns]

# Question - 7

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

1.Title
2.Ratings
3.Price

# Answer ;

In [409]:
driver7 = webdriver.Chrome()

In [410]:
driver7.get('https://www.amazon.in/')

In [411]:
Input = driver7.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Input.send_keys('Laptop')

In [412]:
Search = driver7.find_element(By.CLASS_NAME,"nav-right")
Search.click()

In [413]:
CPU_Type = driver7.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[19]/span/span[10]/li/span/a/span')
CPU_Type.click()

In [414]:
Title7 = []
Price7 = []

In [436]:
titles = driver7.find_elements(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[1]/div/span[1]/div[1]/div[12]/div/div/span/div/div/div/div[2]/div/div/div[1]/h2")
for i in titles :
    Title7.append(i.text)

In [437]:
Title7

['NBC 5S Intel Core i7 12th Gen 1255 Laptop (16 GB RAM 3200MHz/ 512 GB M.2 SATA SSD/Windows 11 Home) 15.6” 1080p,Dolby Atmos,Type C Port,Fingerprint Sensor, 38.5Wh Battery (Midnight Blue)',
 'Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop (15.6 Inch, Graphite, 1.58 Kg, with MS Office)',
 'Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Display Gaming Laptop (16GB/1TB SSD/Windows 11 Home/6GB Graphics/NVIDIA GeForce RTX 3060/300 Hz, Black, 2.3Kg) PH315-54',
 'Pavilion 14 11th Gen Intel Core i7 16GB/1TB SSD 14 inches Laptop, FHD Micro-Edge Anti-Glare Display/Iris X\x89 Graphics/Backlit KB/B&O Audio/Fingerprint Reader/Windows 11 Ready/1.41kg, 14-dv0058TU',
 'IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inch (39.62cm) FHD Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/3months Game Pass/Arctic Grey/1.63Kg), 82RK011EIN',
 'TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS',
 'Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53',
 'Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53',
 'Omen 13th Gen Intel Core i7-13700HX,17.3 inch(43.9cm) QHD Gaming Laptop(16GB RAM/1TB SSD/NVIDIA GeForce RTX 4080 12GB Graphics/3ms Response Tim/Win 11/MSO/B&O/Alexa/Xbox Pass) 17-ck2008AX',
 'Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS']

In [439]:
Title7.pop(8)

'Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53'

In [440]:
Title7

['NBC 5S Intel Core i7 12th Gen 1255 Laptop (16 GB RAM 3200MHz/ 512 GB M.2 SATA SSD/Windows 11 Home) 15.6” 1080p,Dolby Atmos,Type C Port,Fingerprint Sensor, 38.5Wh Battery (Midnight Blue)',
 'Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop (15.6 Inch, Graphite, 1.58 Kg, with MS Office)',
 'Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Display Gaming Laptop (16GB/1TB SSD/Windows 11 Home/6GB Graphics/NVIDIA GeForce RTX 3060/300 Hz, Black, 2.3Kg) PH315-54',
 'Pavilion 14 11th Gen Intel Core i7 16GB/1TB SSD 14 inches Laptop, FHD Micro-Edge Anti-Glare Display/Iris X\x89 Graphics/Backlit KB/B&O Audio/Fingerprint Reader/Windows 11 Ready/1.41kg, 14-dv0058TU',
 'IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inch (39.62cm) FHD Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/3months Game Pass/Arctic Grey/1.63Kg), 82RK011EIN',
 'TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS',
 'Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53',
 'Omen 13th Gen Intel Core i7-13700HX,17.3 inch(43.9cm) QHD Gaming Laptop(16GB RAM/1TB SSD/NVIDIA GeForce RTX 4080 12GB Graphics/3ms Response Tim/Win 11/MSO/B&O/Alexa/Xbox Pass) 17-ck2008AX',
 'Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS']

In [441]:
print(len(Title7))

10

In [447]:
price = driver7.find_elements(By.CLASS_NAME,"a-price-whole")
for i in price :
    Price7.append(i.text)

In [449]:
Price = Price7[:10]

In [453]:
Price

['52,990',
 '89,990',
 '54,990',
 '1,41,990',
 '84,899',
 '62,990',
 '77,990',
 '54,990',
 '2,59,499',
 '64,990']

# DataFrame of Q.7

In [454]:
df7 = pd.DataFrame({'Title': Title7 , 'Price' : Price})
df7

                                               Title     Price
0  NBC 5S Intel Core i7 12th Gen 1255 Laptop (16 ...    52,990
1  Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/5...    89,990
2  Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD ...    54,990
3  Predator Helios 300 11th Gen Intel Core i9-119...  1,41,990
4  Pavilion 14 11th Gen Intel Core i7 16GB/1TB SS...    84,899
5  IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inc...    62,990
6  TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, In...    77,990
7  Travelmate Business Laptop Intel Core i7-11th ...    54,990
8  Omen 13th Gen Intel Core i7-13700HX,17.3 inch(...  2,59,499
9  Vivobook 15, Intel Core i7-12650H 12th Gen, 15...    64,990

# Question - 8

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

# Answer ;

In [455]:
driver8 = webdriver.Chrome()

In [456]:
driver8.get('https://www.azquotes.com/')

In [457]:
Top_quotes = driver8.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_quotes.click()

In [458]:
Quote8 = []
Author8 = []
Type_of_Quotes8 = []

In [491]:
start = 0
end = 10

for page in range(start, end):
    Quote_names = driver8.find_elements(By.CLASS_NAME,"title")
    for i in Quote_names:
        Quote8.append(i.text)
    Author_names = driver8.find_elements(By.CLASS_NAME,"author")
    for i in Author_names :
        Author8.append(i.text)
    Type_quots = driver8.find_elements(By.CLASS_NAME,"tags")
    for i in Type_quots :
        Type_of_Quotes8.append(i.text)
    next_button = driver8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
    next_button.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=120.0.6099.225)
Stacktrace:
	GetHandleVerifier [0x00007FF6A7C62142+3514994]
	(No symbol) [0x00007FF6A7880CE2]
	(No symbol) [0x00007FF6A77274C3]
	(No symbol) [0x00007FF6A7772D29]
	(No symbol) [0x00007FF6A7766A0F]
	(No symbol) [0x00007FF6A7795FEA]
	(No symbol) [0x00007FF6A77663B6]
	(No symbol) [0x00007FF6A7796490]
	(No symbol) [0x00007FF6A77B28F6]
	(No symbol) [0x00007FF6A7795D93]
	(No symbol) [0x00007FF6A7764BDC]
	(No symbol) [0x00007FF6A7765C64]
	GetHandleVerifier [0x00007FF6A7C8E16B+3695259]
	GetHandleVerifier [0x00007FF6A7CE6737+4057191]
	GetHandleVerifier [0x00007FF6A7CDE4E3+4023827]
	GetHandleVerifier [0x00007FF6A79B04F9+689705]
	(No symbol) [0x00007FF6A788C048]
	(No symbol) [0x00007FF6A7888044]
	(No symbol) [0x00007FF6A78881C9]
	(No symbol) [0x00007FF6A78788C4]
	BaseThreadInitThunk [0x00007FFFAF617344+20]
	RtlUserThreadStart [0x00007FFFB0B026B1+33]

In [495]:
Quote = Quote8[:1000]

In [496]:
df8 = pd.DataFrame({'Quote': Quote , 'Author':Author8 , 'Type of Quote' :Type_of_Quotes8 })

# DataFrame of Q.8

In [497]:
df8

,Quote,Author,Type of Quote
0,,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,The essence of strategy is choosing what not t...,Golda Meir,"Inspiration, Past, Trying"
2,One cannot and must not try to erase the past ...,Theodore Roosevelt,"Country, Peace, War"
3,Patriotism means to stand by the country. It d...,Nelson Mandela,"Inspirational, Motivational, Death"
4,Death is something inevitable. When a man has ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,The size of your success is measured by the st...,Jim Rohn,"Inspirational, Life, Motivational"
996,The dog is a gentleman; I hope to go to his he...,Henry Ford,"Inspirational, Motivational, Positive"
997,Don't judge each day by the harvest you reap b...,Robin Williams,"Love, Life, Lonely"
998,I can be changed by what happens to me. But I ...,Margaret Walker,"Love, Inspirational, Friendship"
999,"To acquire knowledge, one must study; but to a...",T. Harv Eker,"Inspirational, Change, Inspiring"

# Question - 9

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

# Answer ;

In [499]:
driver9 = webdriver.Chrome()

In [500]:
driver9.get('https://www.jagranjosh.com/')

In [501]:
GK = driver9.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
GK.click()

In [503]:
Prime_ministers = driver9.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[8]/div/ul/li[10]/a')
Prime_ministers.click()

In [509]:
PMdata = []

In [515]:
pmdatas = driver9.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr')

In [518]:
for datas in  pmdatas :
    data = datas.text
    PMdata.append(data)

In [519]:
PMdata

['S.N.\nPM Name\nBorn-Dead\nTerm of office\nRemark',
 '1.\nJawahar Lal Nehru\n(1889–1964)\n15 August 1947 to 27 May 1964\n16 years, 286 days\nThe first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.\nGulzarilal Nanda (Acting)\n(1898-1998)\n27 May 1964 to 9 June 1964,\n13 days\nFirst acting PM of India',
 "3.\nLal Bahadur Shastri\n(1904–1966)\n9 June 1964 to 11 January 1966\n1 year, 216 days\nHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. \nGulzari Lal Nanda  (Acting)\n(1898-1998)\n11 January 1966 to 24 January 1966\n13 days\n-',
 '5.\nIndira Gandhi\n(1917–1984)\n24 January 1966 to 24 March 1977\n11 years, 59 days\nFirst female Prime Minister of India',
 '6.\nMorarji Desai\n(1896–1995)\n24 March 1977 to  28 July 1979 \n2 year, 126 days\nOldest to become PM (81 years old) and first to resign from office',
 '7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament',
 '8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years, 291 days\nThe first lady who served as PM for the second term',
 '9.\nRajiv Gandhi\n(1944–1991)\n31 October 1984 to 2 December 1989\n5 years, 32 days\nYoungest to become PM (40 years old)',
 '10.\nV. P. Singh\n(1931–2008)\n2 December 1989 to 10 November 1990\n343 days\nFirst PM to step down after a vote of no confidence',
 '11.\nChandra Shekhar\n(1927–2007)\n10 November 1990 to 21 June 1991\n223 days\nHe belongs to  Samajwadi Janata Party',
 '12.\nP. V. Narasimha Rao\n(1921–2004)\n21 June 1991 to 16 May 1996\n4 years, 330 days\nFirst PM from South India',
 '13.\nAtal Bihari Vajpayee\n(1924- 2018)\n16 May 1996 to 1 June 1996\n16 days\nPM for shortest tenure',
 '14.\nH. D. Deve Gowda\n(born 1933)\n1 June 1996 to 21 April 1997\n324 days\nHe belongs to  Janata Dal',
 '15.\nInder Kumar Gujral\n(1919–2012)\n21 April 1997 to 19 March 1998 \n332 days\n------',
 '16.\nAtal Bihari Vajpayee\n(1924-2018)\n19 March 1998 to 22 May 2004 \n6 years, 64 days\n The first non-congress PM who completed a full term as PM',
 '17.\nManmohan Singh\n(born 1932)\n22 May 2004 to 26 May 2014   \n10 years, 4 days\n First Sikh PM',
 '18.\nNarendra Modi\n(born 1950)\n26 May 2014 - 2019\n4th Prime Minister of India who served two consecutive tenures',
 '19.\nNarendra Modi\n(born 1950)\n30 May 2019- Incumbent\nFirst non-congress PM with two consecutive tenures',
 'List of all Presidents of India List of Nicknames of Indian Prime Ministers',
 'S.N.PM NameBorn-DeadTerm of officeRemark',
 '1.Jawahar Lal Nehru(1889–1964)15 August 1947 to 27 May 196416 years, 286 daysThe first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.Gulzarilal Nanda (Acting)(1898-1998)27 May 1964 to 9 June 1964,13 daysFirst acting PM of India',
 "3.Lal Bahadur Shastri(1904–1966)9 June 1964 to 11 January 19661 year, 216 daysHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. Gulzari Lal Nanda  (Acting)(1898-1998)11 January 1966 to 24 January 196613 days-',
 '5.Indira Gandhi(1917–1984)24 January 1966 to 24 March 197711 years, 59 daysFirst female Prime Minister of India',
 '6.Morarji Desai(1896–1995)24 March 1977 to  28 July 1979 2 year, 126 daysOldest to become PM (81 years old) and first to resign from office',
 '7.Charan Singh(1902–1987)28 July 1979 to 14 January 1980170 daysOnly PM who did not face the Parliament',
 '8.Indira Gandhi(1917–1984)14 January 1980 to 31 October 19844 years, 291 daysThe first lady who served as PM for the second term',
 '9.Rajiv Gandhi(1944–1991)31 October 1984 to 2 December 19895 years, 32 daysYoungest to become PM (40 years old)',
 '10.V. P. Singh(1931–2008)2 December 1989 to 10 November 1990343 daysFirst PM to step down after a vote of no confidence',
 '11.Chandra Shekhar(1927–2007)10 November 1990 to 21 June 1991223 daysHe belongs to  Samajwadi Janata Party',
 '12.P. V. Narasimha Rao(1921–2004)21 June 1991 to 16 May 19964 years, 330 daysFirst PM from South India',
 '13.Atal Bihari Vajpayee(1924- 2018)16 May 1996 to 1 June 199616 daysPM for shortest tenure',
 '14.H. D. Deve Gowda(born 1933)1 June 1996 to 21 April 1997324 daysHe belongs to  Janata Dal',
 '15.Inder Kumar Gujral(1919–2012)21 April 1997 to 19 March 1998 332 days------',
 '16.Atal Bihari Vajpayee(1924-2018)19 March 1998 to 22 May 2004 6 years, 64 days The first non-congress PM who completed a full term as PM',
 '17.Manmohan Singh(born 1932)22 May 2004 to 26 May 2014   10 years, 4 days First Sikh PM',
 '18.Narendra Modi(born 1950)26 May 2014 - 20194th Prime Minister of India who served two consecutive tenures',
 '19.Narendra Modi(born 1950)30 May 2019- IncumbentFirst non-congress PM with two consecutive tenures',
 'List of all Presidents of India List of Nicknames of Indian Prime Ministers']

In [535]:
data_list = []
for item in PMdata:
    split_data = item.split("\n")
    if len(split_data) > 5:  
        data_list.append(split_data)
    else:  
        data_list.append(split_data + [""] * (5 - len(split_data)))


sn = [item[0] for item in data_list]
pm_name = [item[1] for item in data_list]
born_dead = [item[2] for item in data_list]
term_of_office = [
    " ".join(item[3:5]) for item in data_list
]  
remarks = [
    item[5] if len(item) >= 6 else "" for item in data_list
]

In [542]:
S_N = sn[1:20]

In [544]:
PM = pm_name[1:20]

In [546]:
BornDead = born_dead[1:20]

In [550]:
tremOffice = term_of_office[1:20]

In [553]:
remarkss = remarks[1:20]

In [555]:
df9 = pd.DataFrame({'PM_name':PM , 'Born-Dead':BornDead , 'Term of Office': tremOffice , 'Remarks': remarkss})

# DataFrame of Q.9

In [556]:
df9

,PM_name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964 16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966 1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966 13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977 11 years, 59 ...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980 170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984 4 years, 29...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989 5 years, 32...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990 343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991 223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996 4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019 4th Prime Minister of India...,
18,Narendra Modi,(born 1950),30 May 2019- Incumbent First non-congress PM w...,

# Question - 10

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

# Answer ;

In [561]:
driver10 = webdriver.Chrome()

In [562]:
driver10.get('https://www.motor1.com/')

In [564]:
input_data = driver10.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
input_data.send_keys('50 most expensive cars')

In [567]:
search = driver10.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [569]:
search1 = driver10.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]')
search1.click()

In [570]:
car_name = []
price = []

In [572]:
car_names = driver10.find_elements(By.CLASS_NAME,"subheader")
for i in car_names :
    car_name.append(i.text)

In [575]:
car_name.pop(50)

'Most Expensive Cars In The World'

In [576]:
car_name

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail']

In [601]:
reversed_car_name = car_name[::-1]

In [602]:
reversed_car_name

['Rolls-Royce La Rose Noire Droptail',
 'Rolls-Royce Boat Tail*',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Sweptail',
 'Bugatti Chiron Profilée',
 'Bugatti Centodieci',
 'Mercedes-Maybach Exelero',
 '777 Hypercar',
 'Pagani Codalunga',
 'SP Automotive Chaos',
 'Bugatti Divo',
 'Pagani Huayra Imola',
 'Bugatti Mistral',
 'Pininfarina B95 Speedster',
 'Bugatti Bolide',
 'Lamborghini Veneno',
 'Bugatti Chiron Super Sport 300+',
 'Koenigsegg CC850',
 'Lamborghini Sian',
 'McLaren Solus',
 'W Motors Lykan Hypersport',
 'Aston Martin Valkyrie',
 'Koenigsegg Jesko',
 'Hennessey Venom F5 Roadster',
 'Aston Martin Victor',
 'Zenvo Aurora',
 'Mercedes-AMG Project One',
 'Lamborghini Countach',
 'Gordon Murray T.50',
 'Pininfarina Battista',
 'Pagani Utopia',
 'Rimac Nevera',
 'McLaren Speedtail',
 'Ferrari Daytona SP3',
 'Delage D12',
 'Aston Martin Vulcan',
 'Lotus Evija',
 'SSC Tuatara',
 'Deus Vayanne',
 'Bentley Mulliner Batur',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Bacalar',
 'Hennessey Venom F5',
 'Zenvo TSR-S',
 'Koenigsegg Gemera',
 'Gordon Murray T.33',
 'Ferrari Monza',
 'Czinger 21C',
 'McLaren Elva',
 'Aston Martin Valour']

In [603]:
df10 = pd.DataFrame({'Car names': reversed_car_name})

# DataFrame of Q.10

In [604]:
df10

                             Car names
0   Rolls-Royce La Rose Noire Droptail
1               Rolls-Royce Boat Tail*
2             Bugatti La Voiture Noire
3                 Rolls-Royce Sweptail
4              Bugatti Chiron Profilée
5                   Bugatti Centodieci
6             Mercedes-Maybach Exelero
7                         777 Hypercar
8                     Pagani Codalunga
9                  SP Automotive Chaos
10                        Bugatti Divo
11                 Pagani Huayra Imola
12                     Bugatti Mistral
13           Pininfarina B95 Speedster
14                      Bugatti Bolide
15                  Lamborghini Veneno
16     Bugatti Chiron Super Sport 300+
17                    Koenigsegg CC850
18                    Lamborghini Sian
19                       McLaren Solus
20           W Motors Lykan Hypersport
21               Aston Martin Valkyrie
22                    Koenigsegg Jesko
23         Hennessey Venom F5 Roadster
24                 Aston Martin Victor
25                        Zenvo Aurora
26            Mercedes-AMG Project One
27                Lamborghini Countach
28                  Gordon Murray T.50
29                Pininfarina Battista
30                       Pagani Utopia
31                        Rimac Nevera
32                   McLaren Speedtail
33                 Ferrari Daytona SP3
34                          Delage D12
35                 Aston Martin Vulcan
36                         Lotus Evija
37                         SSC Tuatara
38                        Deus Vayanne
39              Bentley Mulliner Batur
40       Hispano Suiza Carmen Boulogne
41                     Bentley Bacalar
42                  Hennessey Venom F5
43                         Zenvo TSR-S
44                   Koenigsegg Gemera
45                  Gordon Murray T.33
46                       Ferrari Monza
47                         Czinger 21C
48                        McLaren Elva
49                 Aston Martin Valour